section.job-search
  form.blue-block.with-search(action="")
    .display-table
      .table-row
        label.table-cell Search Term:
        .table-cell
          input(type="text" placeholder="Please enter a search term")
        label.table-cell Location:
        .table-cell
          input(type="text" placeholder="Please enter a location")

    button.more
      i.icon.fm-search