.col-sm-6
  form.locator-form.block.white-bg.padding-30(action="")
    h1.fm-subtitle Mortgage-Backed Securities
    p Search for disclosure and related documents for a single pool or trust.
    fieldset
      h2: legend Search Type
        sup *
      ul.inline
        li
          input.styled-radio(type="radio" name="foo" value="foo1" id="foo1") 
          label(for="foo1") CUSIP Number
        li
          input.styled-radio(type="radio" name="foo" value="foo2" id="foo2") 
          label(for="foo2") Pool Number
        li
          input.styled-radio(type="radio" name="foo" value="foo3" id="foo3") 
          label(for="foo3") Trust Number

    input(type="text" placeholder="Number*" title="Enter CUSIP or Pool number" required)

    input(type="text" placeholder="Trust Class/Tranche")

    .text-right
      button.more Search
        i.icon.fm-search-circle(aria-hidden="true")

.col-sm-6
  form.locator-form.block.white-bg.padding-30(action="")
    h1.fm-subtitle Debt Securities Pricing Supplement and Reset Information Finder
    p Locate specific Pricing Supplement or Reset Information by CUSIP number.
    fieldset
      h2: legend Document Type
        sup *
      ul.inline
        li
          input.styled-radio(type="radio" name="bar" value="bar1" id="bar1") 
          label(for="bar1") All Documents
        li
          input.styled-radio(type="radio" name="bar" value="bar2" id="bar2") 
          label(for="bar2") Pricing Supplement
        li
          input.styled-radio(type="radio" name="bar" value="bar3" id="bar3") 
          label(for="bar3") Reset Information

    input(type="text" placeholder="CUSIP Number*" title="CUSIP Number" required)


    .text-right
      button.more Search
        i.icon.fm-search-circle(aria-hidden="true")