.locator-form{
  min-height: 410px;
  padding-bottom: 45px;
  h2 legend{
    font-size: 16px;
    margin: 0 0 10px;
  }
  .more{
    position: absolute;
    bottom: 40px;
    right: 25px;
    @media (max-width: $screen-xs-max){
      bottom: 15px;
    }
  }
  input[type=text]{
    margin: 0 0 30px;
  }
  ul.inline{
    margin-bottom: 10px;
    li{
      padding: 0 10px;
    }
  }
}