.locator-form{
  min-height: 400px;
  padding-bottom: 40px;
  h2{
    font-size: 16px;
    margin: 0 0 10px;
  }
  .more{
    position: absolute;
    bottom: 40px;
    right: 25px;
    @media (max-width: $screen-sm){
      bottom: 15px;
    }
  }
  input[type=text]{
    margin: 0 0 10px;
  }
  ul.inline{
    margin-bottom: 10px;
  }
}