a.image-promo(href="/")
  figure.white-bg
    img(src="../media/image-promo-1.png")
    figcaption.padding-30
      h1.color-white.font-serif Team Leadership
    span.cta(href="#") View Bios
      span.icon.fm-arrow-right-circle(aria-hidden="true")

