.image-promo{
  figure{
    position: relative;
    @media(max-width: $screen-xs-max){
      margin-top: 30px;
    }
    figcaption{
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - #{$cta-height});
    }
  }
  .white-bg .cta{
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color-dark-blue;
    color: $color-link-dark;
    &:hover{
      color: $color-link-dark-h;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  h1{
    font-size: 16px;
  }
}