aside.promo.white-bg.padding-30
  h1.fm-subtitle Contact The Board
  p All comments, questions, concerns and complaints lorem ipsum dolor sit amet, an labores fastidii usu, postea convenire conclusionemque an quo.
  p
    h2 Board of Directors
    | c/o Office of the Secretary Mailstop: 1H 2S 05
    br
    | 3900 Wisconsin Avenue, NW Washington, DC 
    br
    | 20016-2892
  a(mailto="board@fanniemae.com") board@fanniemae.com

