mixin promo(title, hasLinks, hasCTA)
  aside.promo.white-bg.padding-30
    h1.fm-subtitle= title
    if block
      block

    if hasLinks
      ul.links
        li: a(href="") Map
        li: a(href="") Email Us
        li: a(href="tel:5053986000" rel="tel") 505-398-6000

    if hasCTA
      ul.link-listing
        li: a(href="") View all locations

