.promo{
  p{
    font-size: 14px;
    line-height: 20px;
  }
  h2{
    font-size: 18px;
    margin: 0;
  }
  .links{
    margin: 0 0 20px;
    li{
      font-size: 18px;
    }
  }
  ul.link-listing{
    border-top: 1px solid $color-hr;
  }
}