extends ../../layouts/layout-one-column

block title
  title Generic 1 Column

block top-content
  include ../../../components/homepage-carousel/_default.jade
  include ../../../components/overview/_default.jade
  include ../../../components/overview/_default.jade
  -var config={ links : ['Home'], page : 'Generic'}
  include ../../../components/breadcrumb/_default.jade
  include ../../../components/social-share/_default.jade
  include ../../../components/top-navigation/_default.jade

block content
  include ../../../components/primary-feature/_default.jade
  include ../../../components/primary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/image-slider/_default.jade
  include ../../../components/image-slider/_default.jade
  include ../../../components/image-slider/_default.jade
  include ../../../components/chart-viewer/_default.jade
  include ../../../components/article-teaser/_default.jade
  include ../../../components/grid-listing-filter/_default.jade
  include ../../../components/grid-listing/_default.jade
  include ../../../components/featured-hero/_default.jade
  include ../../../components/news-teaser/_default.jade
  
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/locator-form/_default.jade
  include ../../../components/locator-form/_default.jade
  -var config = {type: 'img-right', title:'Debt Securities', caption:'', productList: ['Short-term Debt Securities', 'Long-term Debt Securities', 'Foreign Currency Denominated Notes'], toolsList: ['Benchmark Automated Syndication System (BASS)', 'Debt Transaction Application (DTA)', 'Fannie Mae Auction System Technology (FAST)']};
  include ../../../components/featured-subpages/_default.jade
  include ../../../components/featured-subpages/_default.jade
  include ../../../components/secondary-subpages/_default.jade
  include ../../../components/secondary-subpages/_default.jade
  include ../../../components/job-search/_default.jade
  include ../../../components/subpage-teaser-listing/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/secondary-feature/_default.jade
  include ../../../components/testimonials/_default.jade