extends ../../layouts/layout-two-column

block title
  title Generic 2 Column

block content
  .article-wrapper.white-bg
    include ../../../components/rich-text-block/_default.jade
    include ../../../components/accordian/_default.jade
    include ../../../components/article-header/_default.jade
    include ../../../components/rich-text-block/_default.jade
    include ../../../components/content-image/_default.jade
    include ../../../components/content-video/_default.jade
    include ../../../components/content-table/_default.jade
    include ../../../components/article-share/_default.jade
    include ../../../components/disclaimer/_default.jade
  include ../../../components/search-call-out/_default.jade
  include ../../../components/search/_default.jade
  include ../../../components/contact-form/_default.jade

block rail
  include ../../../components/rail-navigation/_default.jade
  include ../../../components/promo/_default.jade
  include ../../../components/promo/_default.jade
  include ../../../components/promo/_default.jade
  include ../../../components/image-promo/_default.jade
  include ../../../components/report-detail/_default.jade
  include ../../../components/report-detail/_default.jade
  include ../../../components/people-promo/_default.jade
  include ../../../components/email-updates/_default.jade