form.more-in.dark-bg.padding-20(action="/" method="post")
  h1 More In About Us
  .styled-select 
    select(name="foo" onchange="this.form.submit()")
      option(value="" selected="selected" disabled="true") Select
      option(value="foo1") Other Link 1
      option(value="foo2") Other Link 2
      option(value="foo3") Other Link 3