nav.top-navigation(fm-sticky-header)
  .container
    .row
      .col-xs-12(greedy-nav)
        .wrap
          ul.hide
            li: a(href="as") What We Do
            li: a(href="dd") Leadership Team
            li: a(href="22") Awards &amp; Achievements
            li: a(href="xacc") Innovations
            li: a(href="cs") Governance
            li: a(href="qw") Investor Relations
            li: a(href="cx") History
            li: a(href="asd") Giving Back


          
          ul.visible-links(ng-cloak)
            //- li(ng-repeat="link in visibleLinks")
            //-   a(href="{{link.url}}") {{link.title}}
            
              
          ul.hidden-links(ng-show="hiddenLinks.length" ng-class="{ 'open' : isOpen() }")
            li(ng-repeat="link in hiddenLinks"): a(href="{{link.url}}") {{link.title}}

