-var linkList = linkList || ['What We Do', 'Leadership Team', 'Awards &amp; Achievements', 'Innovations', 'Governance', 'Investor Relations', 'History', 'Giving Back']
nav.top-navigation(fm-sticky-header)
  .container
    .row
      .col-xs-12(fm-greedy-nav)
        .wrap
          ul.hide
            each val in linkList
              li: a(href="as")= val


          
          ul.visible-links(ng-cloak)
            //- li(ng-repeat="link in visibleLinks")
            //-   a(href="{{link.url}}") {{link.title}}
            
              
          ul.hidden-links(ng-show="hiddenLinks.length" ng-class="{ 'open' : isOpen() }" fm-close-on-click-away="toggleOpen()")
            li(ng-repeat="link in hiddenLinks"): a(href="{{link.url}}") {{link.title}}

