nav.top-navigation{
  margin: 0 -15px;
  padding-bottom: 1px; //-makes room for the bottom border which gets cut off 
  position: relative;
  border-bottom: 1px solid #ccc;
  text-align: center;
  z-index: 89;
  .wrap{
    position: relative;
    display: inline-block;
  }
  ul.visible-links{
    white-space: nowrap;
    display: inline-block;
    padding: 30px 0;
    transition: padding .2s;
    li{
      display: inline-block;
      padding: 0 15px;
      border-left: 1px solid #ccc;
      line-height: 20px;
      margin: 0 0 10px;
      position: relative;
      &:first-child{
        border-left: none;
      }
      &.nav-toggle{
        border-left: none;
        // padding: 0;
        // width: 65px;
        // height: 50px;
        margin: 0;
        &.open{
          // background: white;
        }
      }
    } 
  }  
  .wrapper.fixed{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background: rgba(230,230,230,.9);
    ul.visible-links{
      padding: 20px 0 10px;
    }
  }
  button{
    right: 0;
    top: -10px;
  }
  // .open button{
  //   background: white;
  //   width: 100%;
  // }
  span.label{
    visibility: hidden;
  }
  span.count{
    position: absolute;
    top: 50%;
    right: calc(50% - 22px);
    border-radius: 50%;
    display: block;
    height: 14px;
    width: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    background: #007697;
    color:#fff;
  }
  
  ul.hidden-links {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    margin-top: -30px;
    background: #fff;
    text-align: right;
    width: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    li {
      display: block;
      border-bottom: 1px solid #ccc;
      a{
        display: block;
        padding: 20px;
      }
    }
    &.open{
      display: block;
    }
  }
  .wrapper.fixed{
    ul.hidden-links {

    }
  }
}
