section.accordian
  h1 Board Committees
    button.accordian-toggle-all(type="button" ng-click="toggleActive('accordian-all')") Expand All
      span.icon(aria-hidden="true" ng-class=" isActive('accordian-all') ? 'fm-minus-circle' : 'fm-plus-circle' ")
  ul.accordian-list
    li.accordian-list-item
      a.accordian-toggle(href="" fm-toggle-class fm-toggle-parent="open") Committee Composition
        span.icon.fm-plus(type="button")
      .accordian-content
        .rich-text-block
          p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
    li.accordian-list-item
      a.accordian-toggle(href="" fm-toggle-class fm-toggle-parent="open") Committee Composition
        span.icon.fm-plus(type="button")
      .accordian-content
        .rich-text-block
          p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.