fm-accordion.fm-accordion
  h1.fm-subtitle Board Committees
    button.fm-accordion-toggle-all(type="button" ng-click="setAll()")
      div(ng-show="allOpen") Close All
      div(ng-show="!allOpen") Expand All
      span.icon.list-icon(ng-class=" allOpen ? 'fm-minus-circle' : 'fm-plus-circle' " aria-hidden="true")
  ul.link-listing.custom-icons.bottom-border
    //- li(fm-accordion-item ng-class="{ 'open' : isOpen() }" open)
    //-   a(href="" ng-click="toggleItem()") Committee Composition
    //-     span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    //-   .fm-accordion-content
    //-     .rich-text-block
    //-       p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Executive Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p The Executive Committee has all the authority of the Board during the interim periods between Board meetings, except for certain specified powers that are stated in the Fannie Mae Bylaws.
          h2 Chair
          -var config = { name: "Egbert L.J. Perry", title: "Chairman and Chief Executive Officer, The Integral Group LLC", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Jonathan Plutzik", title: "Chairman, Betsy Ross Investors, LLC", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "William Thomas Forrester ", title: "Retired Chief Financial Officer, The Progressive Corporation", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Brenda J. Gaines", title: "Retired President and Chief Executive Officer, Diners Club North America", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Frederick B. \"Bart\" Harvey III ", title: "Retired chairman of the Board of Trustees, Enterprise Community Partners and Enterprise Community Investment", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "David H. Sidwell ", title: "Retired Executive Vice President and Chief Financial Officer, Morgan Stanley", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Timothy J. Mayopoulos", title: "President and Chief Executive Officer, Fannie Mae", link: true}
          include ../bio-teaser/_default.jade
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Audit Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p The Audit Committee oversees:
          ul
            li the accounting, reporting, and financial practices of the Corporation and its subsidiaries,
            li the Corporation's compliance with legal and regulatory requirements,
            li the external auditor's qualifications and independence,
            li the performance of the Corporation's internal audit function and the Corporation's external auditor,
            li the Corporation's technology and operations environment.
          h2 Chair
          -var config = { name: "William Thomas Forrester ", title: "Retired Chief Financial Officer, The Progressive Corporation", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Brenda J. Gaines", title: "Retired President and Chief Executive Officer, Diners Club North America", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Robert H. Herz", title: "President, Robert H. Herz LLC", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Diane C. Nordin", title: "Retired Partner, Wellington Management Company, LLP", link: true}
          include ../bio-teaser/_default.jade
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Compensation Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p In conjunction with the Conservator, the Compensation Committee makes recommendations to the Board relating to:
          ul
            li the appointment and compensation of Fannie Mae's senior management,
            li the adoption of policies that govern certain annual compensation and stock ownership plans,
            li the compensation discussion and analysis (CD&amp;A) for inclusion in Fannie Mae's annual report or proxy statement,
            li the report of the committee to accompany the CD&amp;A in annual reports or proxy statements.
          h2 Chair
          -var config = { name: "Brenda J. Gaines", title: "Retired President and Chief Executive Officer, Diners Club North America", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Diane C. Nordin", title: "Retired Partner, Wellington Management Company, LLP", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Jonathan Plutzik", title: "Chairman, Betsy Ross Investors, LLC", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "David H. Sidwell", title: "Retired Executive Vice President and Chief Financial Officer, Morgan Stanley", link: true}
          include ../bio-teaser/_default.jade
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Nominating &amp; Corporate Governance Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p The Nominating &amp; Corporate Governance Committee identifies individuals qualified to become members of the Board; recommends directors to be elected by the Board to fill any vacancies; develops a set of corporate governance principles; and plays a leadership role in shaping Fannie Mae's corporate governance.
          h2 Chair
          -var config = { name: "Frederick B. \"Bart\" Harvey III", title: "Retired chairman of the Board of Trustees, Enterprise Community Partners and Enterprise Community Investment", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Amy E. Alving", title: "Retired Chief Technology Officer and Senior Vice President, Science Applications International Corporation", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "Robert H. Herz", title: "President, Robert H. Herz LLC", link: true}
          include ../bio-teaser/_default.jade
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Risk Policy &amp; Capital Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p The Risk Policy &amp; Capital Committee assists the Board in overseeing Fannie Mae's capital management and risk management, including overseeing the management of credit risk, market risk, liquidity risk, and operational risk.
          h2 Chair
          -var config = { name: "David H. Sidwell", title: "Retired Executive Vice President and Chief Financial Officer, Morgan Stanley", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Amy E. Alving", title: "Retired Chief Technology Officer and Senior Vice President, Science Applications International Corporation", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "William Thomas Forrester", title: "Retired Chief Financial Officer, The Progressive Corporation", link: true}
          include ../bio-teaser/_default.jade
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a(href="" ng-click="toggleItem()") The Risk Policy &amp; Capital Committee
        span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
      .fm-accordion-content
        .rich-text-block
          p The Strategic Initiatives Committee assists the Board in overseeing Fannie Mae's implementation of key strategic initiatives.
          h2 Chair
          -var config = { name: "Jonathan Plutzik", title: "Chairman, Betsy Ross Investors, LLC", link: true}
          include ../bio-teaser/_default.jade
          br
          h2 Members
          -var config = { name: "Amy E. Alving", title: "Retired Chief Technology Officer and Senior Vice President, Science Applications International Corporation", link: true}
          include ../bio-teaser/_default.jade
          -var config = { name: "William Thomas Forrester", title: "Retired Chief Financial Officer, The Progressive Corporation", link: true}
          include ../bio-teaser/_default.jade
    //- li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
    //-   a(href="" ng-click="toggleItem()") The Strategic Initiatives Committee
    //-     span.icon.list-icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    //-   .fm-accordion-content
    //-     .rich-text-block
    //-       h1 CSS Basic Elements
    //-       p
    //-         | The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.
    //-       hr
    //-       h1#headings Headings
    //-       h1 Heading 1
    //-       h2 Heading 2
    //-       h3 Heading 3
    //-       h4 Heading 4
    //-       h5 Heading 5
    //-       h6 Heading 6
    //-       hr
    //-       h1 Paragraph
    //-       p
    //-         | Lorem ipsum dolor sit amet, 
    //-         a(href='/') test link
    //-         |  adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
    //-       p
    //-         | Lorem ipsum dolor sit amet, 
    //-         em emphasis
    //-         |  consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
    //-       hr
    //-       h1#list_types List Types
    //-       h3 Definition List
    //-       dl
    //-         dt Definition List Title
    //-         dd This is a definition list division.
    //-       h3 Ordered Lists
    //-       ol(type="1")
    //-         li List Item 1
    //-         li List Item 2
    //-         li List Item 3
    //-       ol(type="i")
    //-         li List Item i
    //-         li List Item ii
    //-         li List Item iii
    //-       h3 Unordered List
    //-       ul
    //-         li List Item 1
    //-         li List Item 2
    //-         li List Item 3
    //-       hr
    //-       fieldset
    //-         legend Legend
    //-         p
    //-           | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
    //-       h1#misc Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.
    //-       p
    //-         | Lorem 
    //-         sup superscript
    //-         |  dolor 
    //-         sub subscript
    //-         |  amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. 
    //-         cite cite
    //-         | . Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. 
    //-         acronym(title='National Basketball Association') NBA
    //-         |  Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  
    //-       blockquote.with-citation
    //-         | This stylesheet is going to help so freaking much.
    //-         footer: cite Citation
    //-       h1#tables Tables
    //-       h2 Non-Responsive Table
    //-       .overflow-wrapper
    //-         table
    //-           tr
    //-             th Table Header 1
    //-             th Table Header 2
    //-             th Table Header 3
    //-           tr
    //-             td Division 1
    //-             td Division 2
    //-             td Division 3
    //-           tr
    //-             td Division 1
    //-             td Division 2
    //-             td Division 3
    //-           tr
    //-             td Division 1
    //-             td Division 2
    //-             td Division 3
    //-       h2 Responsive Table
    //-       include ../content-table/_default.jade
    //-     br
    //-     br
    //-     figure
    //-       include ../content-video/_default.jade
    //-       figcaption
    //-         h3 Adding new technology for mortgage servicers
    //-         p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
    //-     figure
    //-       img(src='../media/content-image-1.png', alt='Placeholder Image', title='Placeholder image')
    //-       figcaption
    //-         h3 Adding new technology for mortgage servicers
    //-         p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
    //-         i.small Photo credit info
