fm-accordion.fm-accordion
  h1.fm-subtitle Board Committees
    button.fm-accordion-toggle-all(type="button" ng-click="setAll()")
      div(ng-show="allOpen") Close All
      div(ng-show="!allOpen") Expand All
      span.fm-list-icon.icon(ng-class=" allOpen ? 'fm-minus-circle' : 'fm-plus-circle' " aria-hidden="true")
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }" open)
    a.fm-list-link(href="" ng-click="toggleItem()") Committee Composition
      span.fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }")
    a.fm-list-link(href="" ng-click="toggleItem()") The Executive Committee
      span.fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
        h2 Chair
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae Lorem ipsum", link: true}
        include ../bio-teaser/_default.jade
        br
        h2 Members
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", link: true}
        include ../bio-teaser/_default.jade
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", link: true}
        include ../bio-teaser/_default.jade
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", link: true}
        include ../bio-teaser/_default.jade
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }")
    a.fm-list-link(href="" ng-click="toggleItem()") The Compensation Committee
      .fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }")
    a.fm-list-link(href="" ng-click="toggleItem()") The Nominating & Corporate Governance Committee
      span.fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }")
    a.fm-list-link(href="" ng-click="toggleItem()") The Risk Policy & Capital Committee 
      span.fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        p No mea saepe consequat deseruisse. Vidisse nominavi no per, in vel ludus animal offendit. Mnesarchum scribentur ad duo, mea liber corpora vulputate te.
  fm-accordion-item.fm-list-item( ng-class="{ 'open' : isOpen() }")
    a.fm-list-link(href="" ng-click="toggleItem()") The Strategic Initiatives Committee
      span.fm-list-icon.icon(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
    .fm-accordion-content
      .rich-text-block
        h1 CSS Basic Elements
        p
          | The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.
        hr
        h1#headings Headings
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6
        hr
        h1 Paragraph
        p
          | Lorem ipsum dolor sit amet, 
          a(href='/') test link
          |  adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
        p
          | Lorem ipsum dolor sit amet, 
          em emphasis
          |  consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
        hr
        h1#list_types List Types
        h3 Definition List
        dl
          dt Definition List Title
          dd This is a definition list division.
        h3 Ordered Lists
        ol(type="1")
          li List Item 1
          li List Item 2
          li List Item 3
        ol(type="i")
          li List Item i
          li List Item ii
          li List Item iii
        h3 Unordered List
        ul
          li List Item 1
          li List Item 2
          li List Item 3
        hr
        fieldset
          legend Legend
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
        h1#misc Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.
        p
          | Lorem 
          sup superscript
          |  dolor 
          sub subscript
          |  amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. 
          cite cite
          | . Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. 
          acronym(title='National Basketball Association') NBA
          |  Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  
        blockquote.with-citation
          | This stylesheet is going to help so freaking much.
          footer: cite Citation
        h1#tables Tables
        h2 Non-Responsive Table
        .overflow-wrapper
          table
            tr
              th Table Header 1
              th Table Header 2
              th Table Header 3
            tr
              td Division 1
              td Division 2
              td Division 3
            tr
              td Division 1
              td Division 2
              td Division 3
            tr
              td Division 1
              td Division 2
              td Division 3
        h2 Responsive Table
        table.responsive-table
          thead
            tr
              th(scope="col") CUSIP
              th(scope="col") Issue Date
              th(scope="col") Maturity Date
              th(scope="col") Coupon
              th(scope="col") Amount Issued
          tr
            th(scope="row" data-title="CUSIP") 3135G0NV1
            td(data-title="Issue Date") 08/17/2012
            td(data-title="Maturity Date") 09/28/2015
            td(data-title="Coupon") 0.500%
            td(data-title="Amount Issued") 5,000,000,000
          tr
            th(scope="row" data-title="CUSIP") 31359MZC0
            td(data-title="Issue Date") 09/12/2005
            td(data-title="Maturity Date") 10/15/2015
            td(data-title="Coupon") 4.375%
            td(data-title="Amount Issued") 4,000,000,000
          tr
            th(scope="row" data-title="CUSIP") 31398A4M1
            td(data-title="Issue Date") 09/27/2010
            td(data-title="Maturity Date") 10/26/2015
            td(data-title="Coupon") 1.625%
            td(data-title="Amount Issued") 6,500,000,000
          tr
            th(scope="row" data-title="CUSIP") 31359MH89
            td(data-title="Issue Date") 02/16/2006
            td(data-title="Maturity Date") 12/21/2015
            td(data-title="Coupon") 0.375%
            td(data-title="Amount Issued") 4,000,000,000
          tr
            th(scope="row" data-title="CUSIP") 31359MH89
            td(data-title="Issue Date") 02/16/2006
            td(data-title="Maturity Date") 03/15/2016
            td(data-title="Coupon") 5.000%
            td(data-title="Amount Issued") 5,000,000,000
          tr
            th(scope="row" data-title="CUSIP") 3135G0VA8
            td(data-title="Issue Date") 02/15/2013
            td(data-title="Maturity Date") 03/30/2016
            td(data-title="Coupon") 0.500%
            td(data-title="Amount Issued") 6,000,000,000
      br
      br
      figure
        include ../content-video/_default.jade
        figcaption
          h3 Adding new technology for mortgage servicers
          p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
      br
      br
      figure
        img(src='../media/content-image-1.png', alt='Placeholder Image', title='Placeholder image')
        figcaption
          h3 Adding new technology for mortgage servicers
          p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
          i.small Photo credit info
      br
      br