.accordian{
  width: 100%;
  h1{
    font-family: $font-serif;
    color: $color-dark-blue;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 15px 0;
    margin: 0;
    border-bottom: 2px solid $color-teal;
  }
  button.accordian-toggle-all{
    display: inline;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    line-height: 100%;
    padding-right: 40px;
    span.icon{
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
  .rich-text-block{
    p{
      font-size: 14px;
      line-height: 25px;
    }
  }
}
.accordian-list{
  width: 100%;
  display: block;
  li{
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
}
.accordian-toggle{
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  display: block;
  .icon{
    position: absolute;
    font-size: 30px;
    top: 5px;
    right: 0;
  }
}
.accordian-content{
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.5s cubic-bezier(0, 1.05, 0, 1));
  .open &{
    max-height: 2000px;
    
  }
}