.fm-accordion{
  margin: 0 -15px;
  width: calc(100% + 30px);
  @media(min-width: $screen-sm){
    width: 100%;
    margin: 0;
  }
  .fm-accordion-title{
    font-family: $font-serif;
    color: $color-dark-blue;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 15px 0;
    margin: 0;
    border-bottom: 2px solid $color-teal;
  }
  button.fm-accordion-toggle-all{
    display: inline;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    line-height: 100%;
    padding-right: 40px;
    span.icon{
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
  .rich-text-block{
    p{
      font-size: 14px;
      line-height: 25px;
    }
  }
  span.icon{
    font-size: 24px;
    @media (min-width: $screen-sm) {
      font-size: 30px;
    }
  }
}
fm-accordion{
  width: 100%;
  display: block;
}
fm-accordion-item{
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.fm-accordion-toggle{
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  display: block;
  .icon{
    position: absolute;
    top: 5px;
    right: 0;
  }
}
.fm-accordion-content{
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.5s cubic-bezier(0, 1.05, 0, 1));
  .open &{
    max-height: 9000px;
  }
}