section.contact-us
  .rich-text-block(ng-bind-html="contact.text")
  hr
  h3 Email Us
  .row
    .col-sm-6
      input(type="text" placeholder="Name*" required title="Enter your name")
    .col-sm-6
      input(type="text" placeholder="Company" title="Enter your company name")
  .row
    .col-sm-6
      input(type="email" placeholder="Email*" required title="Enter your email address")
    .col-sm-6
      input(type="tel" placeholder="Phone Number" title="Enter your telephone number")
  textarea(rows="6" placeholder="Questions/Comments*" required title="Enter your message")
  input(type="hidden" name="submit-email" value="{{contact.email}}")
  hr
  p.text-center
    button.more Submit
      i.icon.fm-arrow-right-circle(aria-hidden="true")
