section.contact-us
  p Contact us with inquiries regarding Fannie Mae's underwriting and servicing policies and mortgage products or to report an issue with a listing agent or escalate a concern with a HomePath property.

  p.call Call Us: 
    a(href="tel:2027528054" rel="tel") 202.752.8054

  hr
  h2 Email Us
  .row
    .col-sm-6
      input(type="text" placeholder="Name*" required title="Enter your name")
    .col-sm-6
      input(type="text" placeholder="Company" title="Enter your company name")
  .row
    .col-sm-6
      input(type="email" placeholder="Email*" required title="Enter your email address")
    .col-sm-6
      input(type="tel" placeholder="Phone Number" title="Enter your telephone number")
  textarea(rows="6" placeholder="Questions/Comments*" required title="Enter your message")

  hr
  p.text-center
    button.more Submit
      i.icon.fm-arrow-right
