section.contact-us{
  p{
    margin-bottom: 20px;
  }
  textarea{
    resize: vertical;
  }
  h3{
    font-size: 20px;
  }
  .submit{
    margin-top: 80px;
    hr{
      margin: 10px 0;
    }
  }
  label{
    @extend .sr-only;
  }
  .show-errors{
    .ng-invalid{
      border: 2px solid $color-error;
      & + label{
        position: relative;
        width: auto;
        height: auto;
        color: $color-error;
        clip: auto;
        font-size: 12px;
        display: block;
        top: -20px;
      }
    }
  }
}
