-var isCareers = isCareers || false
section.subpage-teaser-listing
  if isCareers
    h1.fm-section-title About our careers
    .display-table.equal-height-sm-row
      .table-row
        .block.col-sm-height.white-bg 
          .content.padding-30
            h2.fm-title: a(href="") Why Fannie Mae
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href="")
            img.fade-in(src="http://placehold.it/580x250/9fb8ad/ced0ce/&text=video" alt="some meaningful alt text")
            i.icon.fm-play-circle
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-title: a(href="") What We Offer
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua. 
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/b7a09d" alt="some meaningful alt text")                
      .table-row
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-title: a(href="") Locations
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/9da3b7" alt="some meaningful alt text")        
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-title: a(href="") Who We Seek
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/b4b79d" alt="some meaningful alt text")                        
      .table-row
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-title: a(href="") Hiring Process
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/aa9db7" alt="some meaningful alt text")     
  else
    .display-table.equal-height-sm-row
      .table-row
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-subtitle: a(href="") Speeches
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/9da3b7" alt="some meaningful alt text")        
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-subtitle: a(href="") Media Contacts
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/b4b79d" alt="some meaningful alt text")                        
        .block.col-sm-height.white-bg
          .content.padding-30
            h2.fm-subtitle: a(href="") Fact Sheet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.
          a.subpage-teaser-image(href=""): img.fade-in(src="http://placehold.it/580x250/aa9db7" alt="some meaningful alt text")     