-var config = config || {};
section.listing.grid-listing(listing data-api-url="../data/grid-listing.json" data-page-size="8" data-language="en" ng-class="loading ? 'loading' : 0")
  -if(config.news){
    form.blue-block.with-search()
      input(type="hidden" ng-model="payload.language" value="en")
      input(type="hidden" ng-model="payload.pageSize" value="8")
      input(type="hidden" ng-model="payload.start" value="0")
      .display-table
        .table-row
          label.table-cell Year:
          .table-cell.styled-select
            select(ng-model="payload.year")
              option(default selected value="all") All
              option 2015
              option 2016
          label.table-cell Month:
          .table-cell.styled-select
            select(ng-model="payload.month")
              option(default selected value="all") All
              option(value="1") January
              option(value="2") February
              option(value="3") March
              option(value="4") April
              option(value="5") May
          label.table-cell Keyword:
          .table-cell
            input(type="text" placeholder="Enter keyword" ng-model="payload.keyword")

      button.more(ng-click="loadQuery(true)")
        span Search 
        i.icon.fm-search
  -} else {
    h1.fm-section-listing Economic &amp; Housing Outlook
  -}

  

  ul
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30(ng-if="!dynamic")
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right

    

    li.block.white-bg.padding-30.fade-in(ng-repeat="item in items")
      span.fm-type.font-serif {{item.type}}
      h2.fm-title: a(href="{{item.url}}") {{item.title}}
      span.fm-date {{item.date}}
      a(href="{{item.url}}").more: i.icon.fm-arrow-right
  .white-bg.text-center(ng-if="(payload.end < total-1 || !payload.end) && !loading")
    a(href="" ng-click="loadQuery()").more.load-more View More
      i.icon.fm-plus

