-var config = config || {};
section.listing.grid-listing(listing data-api-url="../data/grid-listing.json" data-page-size="8" data-language="en")
  -if(config.news){
    form.blue-block.with-search(action="")
      .display-table
        .table-row
          label.table-cell Year:
          .table-cell.styled-select
            select
              option All
          label.table-cell Month:
          .table-cell.styled-select
            select
              option All
          label.table-cell Keyword:
          .table-cell
            input(type="text" placeholder="Enter keyword" ng-click="loadQuery()")

      button.more
        i.icon.fm-search
  -} else {
    h1.fm-section-listing Economic &amp; Housing Outlook
  -}

  
  ul
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right
    li.block.white-bg.padding-30
      span.fm-type.font-serif Weekly Note
      h2.fm-title: a(href="") 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
      a(href="").more: i.icon.fm-arrow-right

    

    li.block.white-bg.padding-30.fade-in(ng-repeat="item in items")
      span.fm-type.font-serif {{item.type}}
      h2.fm-title: a(href="{{item.url}}") {{item.title}}
      span.fm-date {{item.date}}
      a(href="{{item.url}}").more: i.icon.fm-arrow-right
  .white-bg.text-center(ng-if="end < total-1 || end == 0")
    a(href="" ng-click="loadQuery()").more.load-more View More
      i.icon.fm-plus

