section.listing.grid-listing
  h1 Economic &amp; Housing Outlook
  ul
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
    li.block.white-bg.padding-30
      span.fm-type Weekly Note
      h2.fm-title 2015 Economic Growth Forecast Downgraded, but Housing on a Better Path
      span.fm-date May 21, 2015
