.navbar{
  height: $header-height-lg;
}
.navbar .wrapper{
  background: $color-dark-blue;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  height: $header-height-lg;
  &.fixed{
    background: $color-blue;
  }
}

/* Logo and Mobile Menu */
.navbar-header{
  height: 100%;
  position: absolute;
  padding-left: 30px;
  @media only screen and (max-width:$screen-md-max) {
    width: 100%;
  }
  @media only screen and (max-width:$screen-xs-max) {
    padding-left: 15px;
  }
  .fm-menu-toggle{
    position: relative;
    margin: 0;
    width: 27px;
    top: 14px;
    margin: 0 10px;
  }
}
.site-logo{
  padding: 0;
  @media only screen and (max-width:$screen-md-max) {
    margin: 0;
  }
}


/* Nav Container */
.navbar-offcanvas{
  @media only screen and (max-width:$screen-md-max) {
    height: calc(100vh - #{$header-height-lg});
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    left: auto;
    right: -$nav-width;
    width: $nav-width;
    top: $header-height-lg;
    @include transition(all 0.4s ease-in);
    @include box-shadow(0 0 14px rgba(0, 0, 0, .2));
    z-index: 999;
    &.open-nav{
      right: 0;
    }

    .dropdown-toggle{
      right: 0;
      top: 0;
      width: 55px;
      padding-right: 30px;
      height: 70px;
      &:before, &:after{
        background: $color-teal;
      }
    }
  }
  @media (min-width: $screen-lg){
    width: 100%;
  }

  /* Icon treatments */
  .icon{
    font-size: 30px;
  }
  button[type="button"]{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
}

/* Drop-down Nav Menu */
.main-menu{
  flex-shrink: 0;
  > li{
    @media(max-width: $screen-md-max){
      display: block;
      width: 100%;
    }
    &.open ul{
      max-height: 100vh;
    }
    @media(min-width: $screen-md-max){
      &:hover ul{
        max-height: 100vh;
        min-width: 200%;
        max-width: 300px;
      }
    }
    a{
      padding: 0 20px;
      line-height: $header-height-lg;
      font-size: 14px;
      @media only screen and (max-width: $screen-md-max){
        font-size: 16px;
      }
    }
    button{
      position: absolute;
      height: 70px;
      top: 0;
      width: 65px;
      right: 0;
      padding: 0;
      color: $color-teal;
    }
    ul{
      @include box-shadow(5px 5px 5px 0px rgba(0,0,0,0.25));
      @media only screen and (max-width: $screen-md-max){
        position: relative;
        width: 100%;
        box-shadow: none;
        background: $color-body-bg-50;
      }
      li:hover{
        background: $color-light;
      }
      li a{
        line-height: 20px;
        color: $color-teal;
        @media only screen and (max-width: $screen-md-max){
          font-size: 14px;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


/* All FannieMae Sites Button */
.menu-sites{
  height: $header-element-height;
  margin-top: $header-element-spacing;
  width: 100%;
  @media (min-width: $screen-lg){
    width: 230px;
  }
  @media(min-width:$screen-lg){
    border-left: 1px solid $color-gray;
  }
  .toggle-sites{
    color: $color-teal;
    text-transform: none;
    font-size: 14px;
    line-height: $header-element-height;
    padding: 0 60px 0 10px;
    height: $header-element-height;
    display: inline-block;
    text-align: left;
    width: 100%;
    &:hover{
      color: white;
    }
    span.icon{
      position: absolute;
      right: 30px;
      top: 6px;
    }
    @media screen only and (max-width: $screen-md-max){
      width: 100%;
      background: transparent;
      border: none;
      font-size: 16px;
      text-align: left;
      padding: 0 20px;
    }
  }
}

/* All FannieMae Sites Menu */
.sites-list, .open .sites-list{
  top: 100%;
  margin-top: $header-element-spacing;
  line-height: 1.75;
  opacity: 1;
  width: 100%;
  @include transition(all 0.4s ease-in);
  @media (min-width: $screen-lg){
    width: $header-site-list-width;
  }
  @media (min-width: $screen-lg){
    padding: 0 30px;
    min-height: $carousel-height-lg;
    opacity: .95;
    background: $color-dark-blue;
    .fixed &{
      background: $color-blue;
    } 
  }
  @media (min-width: $screen-xl){
    padding: 0 30px;
    min-height: $carousel-height-xl;
  }
  a:hover{
    h2{
      color: $color-light;
      text-decoration: underline;
      @media only screen and (max-width: $screen-md-max){
        color: black;
      }
    }
    .dropdown-toggle:before, .dropdown-toggle:after{
      background: white;
      @media only screen and (max-width: $screen-md-max){
        background: black;
      }
    }
  }
  a:focus{
    color: $color-teal;
  }
  h1{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    border-bottom: 2px solid $color-teal;
    margin: 30px 20px 0;
    padding: 0 0 10px;
    @media (min-width: $screen-lg){
      margin: 30px 0 0;
      color: $color-light;
    }
  }
  h2{
    font-size: 16px;
    margin: 0;
    color: $color-teal;
    @media only screen and (max-width: $screen-md-max){
      padding: 25px 25px 25px 20px;
      color: black;
    }
  }
  .subhead{
    color: $color-teal;
    font-size: 12px;
    @media (min-width:$screen-lg){
      color: white;
    }
  }
  button.icon{
    font-size: 30px;
    position: absolute;
    color: $color-teal;
    padding: 0;
    top: 20px;
    right: 20px;
    @media (min-width: $screen-lg){
      right: 0;
      top: 9px; 
    }
  }
  li.open ul{
    @media (min-width: $screen-lg){
      margin-top: 10px;
    }
  }
  ul{
    border-collapse: collapse;
    border: none;
    li{
      border-color: $color-dark-gray-50;
      @media (min-width: $screen-lg){
        padding: 15px 0; 
        &:first-child{
          border: none;
        }
      }
      &:after{
        content: '' !important;
      }
      a h2{
        @media only screen and (max-width:$screen-md-max){
          padding: 0;
        }
      }
    }
  }
  .submenu {
    @media only screen and (max-width: $screen-md-max){
      margin: 0;
      background: $color-body-bg-50;
      opacity: 1;
    }
    li{
      padding: 0;
      border: none;
      @media only screen and (max-width:$screen-md-max){
        border-bottom: 1px solid $color-light;
      }
      a{
        padding: 0 0 0 20px !important;
        font-size: 14px;
        @media only screen and (max-width:$screen-md-max){
          padding: 15px 20px !important;
          display: block;
        }
        &:hover{
          color: $color-light;
          text-decoration: underline;
        }
      }
    }
  }
}


/* Search Form */

input[type="search"].header-search-input {
  position: absolute;
  border: none;
  outline: none;
  background: #fff;
  height: $header-element-height;
  top: $header-element-spacing;
  margin: 0;
  padding: 0 10px;
  border-radius: 0;
  top: 0;
  left: 10px;
  width: calc(100% - 90px);

  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  @include box-shadow(none);
  
  @include input-placeholder{
    color: $color-teal;
    font-style: italic;
  }
}

.header-search-btn, input[type="submit"].header-search-submit{
  height: $header-height-lg;
  // display: block;
  padding: 0;
  margin: 0;
  line-height: $header-height-lg;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

input[type="submit"].header-search-submit{
  position: absolute;
  background: #fff; /* IE needs this */
  color: transparent;
  top: 0;
  right: 10px;
  width: $header-element-height;
  z-index: 1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
  filter: alpha(opacity=0); /* IE 5-7 */
}

button[type="button"].header-search-btn{
  width: 60px;
  color: $color-teal;
  position: relative;
  &:hover{
    color: white;
  }
  span.icon{
    font-size: 30px;
    position: absolute;
    @include center-xy();
  }
}

.header-search-form{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: $color-dark-blue;
  margin: 0;
  z-index: 1;
  .fixed &{
    background: $color-blue;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  @include transition(height 0.3s);

  -webkit-backface-visibility: hidden;

  &.header-search-open, .no-js & {
    height: $header-element-height + 10px;
  }

  .icon{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    padding: 5px 10px;
    color: $color-teal;
    @media (min-width: $screen-lg){
      padding: 5px 20px;
    }
    &:hover{
      color: white;
    }
  }
}
