// Must keep "contact.topicBox" as ng-model, but "parentSelect/childSelect" can be changed to match backend model
section.topic-box.blue-block
  .display-table
    .table-row
      label.table-cell Topic:
      .table-cell.styled-select
        select(ng-model="contact.topicBox.parentSelect" ng-change="submitParent()" name="parentSelect")
          option(value="" selected="selected" disabled="disabled") Select
          option(value="foo1") Single-family and Multifamily Business
          option(value="foo2") 2 Single-family and Multifamily Business
          option(value="foo3") 3 Single-family and Multifamily Business
    .table-row
      label.table-cell Sub-topic:
      .table-cell.styled-select
        select(ng-disabled="contact.isDisabled" ng-model="contact.topicBox.childSelect" ng-options="item.id as item.name for item in contact.selectOptions track by item.id" ng-change="submitChild()" name="childSelect")
          option(value="" selected="selected" disabled="disabled") Select
