section.topic-box.blue-block
  .display-table
    .table-row
      label.table-cell Topic:
      .table-cell.styled-select
        select
          option Single-family and Multifamily Business
          option 2 Single-family and Multifamily Business
          option 3 Single-family and Multifamily Business
    .table-row
      label.table-cell Sub-topic:
      .table-cell.styled-select
        select
          option Loss Mitigation
          option 2 Loss Mitigation
          option 3 Loss Mitigation