section.topic-box{
	select::-ms-expand {
    display: none;
	}
	.styled-select:before{
		display:block;
    position:absolute;
    content:'';
    right:30px;
    top:0px;
    height:40px;
    width:25px;
    background:#26334b;
    z-index:5;
	}
}

