.rail-list{
  .more{
    margin-top: 10px;
  }
  h1.fm-subtitle{
    margin: 0;
  }
  .fm-date{
    margin: -10px 0 10px;
  }
  ul.link-listing > li > a > .list-icon.fa-download{
    font-size: 14px;
  }
}