.fm-homepage-carousel(fm-carousel)
  ul.pane-homepage-slider-slider-home(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
    div.fm-carousel-controls(rn-carousel-indicator custom-indicator)
      span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 479px)" srcset="/media/home-carousel/image1_width_750.png")
          source(media="(max-width: 1280px)" srcset="/media/home-carousel/image1_width_1280.png")
          img(src="/media/home-carousel/image1_width_3840.png" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a.color-white(href="") Returned $138B to tax payers, $21B more than we received from the U.S. Treasury.
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 479px)" srcset="/media/home-carousel/image1_width_750.png")
          source(media="(max-width: 1280px)" srcset="/media/home-carousel/image1_width_1280.png")
          img(src="/media/home-carousel/image1_width_3840.png" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a.video-link.color-white(href="") Example of slide with video link 
            
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 479px)" srcset="http://lorempixel.com/750/1110/city/4/")
          source(media="(max-width: 1280px)" srcset="http://lorempixel.com/1280/638/city/4/")
          img(src="http://lorempixel.com/1280/638/city/4/" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a.color-white(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor delectus alias, laudantium molestiae rem. Dolore, accusamus ad distinctio iste praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor delectus alias, laudantium molestiae rem. Dolore, accusamus ad distinctio iste praesentium
