.fm-homepage-carousel(fm-carousel)
  div.fm-carousel-controls(rn-carousel-indicator custom-indicator)
    span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
  ul.pane-homepage-slider-slider-home(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 768px)" srcset="../media/home-carousel/image1_width_750.png")
          source(media="(max-width: 1280px)" srcset="../media/home-carousel/image1_width_1280.png")
          img(src="../media/home-carousel/image1_width_3840.png" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a(href="") We returned $144B to taxpayers, over $26B more than we received from the U.S. Treasury.
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 768px)" srcset="../media/home-carousel/image2_width_750.jpg")
          source(media="(max-width: 1280px)" srcset="../media/home-carousel/image2_width_1280.jpg")
          img(src="../media/home-carousel/image2_width_3840.jpg" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a(href="") New Report: Moderate Economic Growth Amid Financial Market Turmoil.
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 768px)" srcset="../media/home-carousel/image3_width_750.jpg")
          source(media="(max-width: 1280px)" srcset="../media/home-carousel/image3_width_1280.jpg")
          img(src="../media/home-carousel/image3_width_3840.jpg" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a(href="") In Q3 2015, we enabled 297,000 home purchases and 118,000 multifamily housing units.
    li.fm-carousel-item
      figure.fm-carousel-figure
        picture.fm-image
          source(media="(max-width: 768px)" srcset="../media/home-carousel/image4_width_750.jpg")
          source(media="(max-width: 1280px)" srcset="../media/home-carousel/image4_width_1280.jpg")
          img(src="../media/home-carousel/image4_width_3840.jpg" alt="responsive image")
        figcaption.fm-carousel-caption
          p: a(href="") Our new app educates homeowners on buying and owning a home. ​​
