
.fm-homepage-carousel{
  margin: 0 -15px;
  position: relative;
}

.pane-homepage-slider-slider-home{
  height: $carousel-height-xs;
  max-height: calc(100vh - #{$header-height-lg});

  @media (min-width: $screen-sm){
    height: $carousel-height-sm;
    max-height: none;
  }
  @media (min-width: $screen-md){
    height: $carousel-height-md;
  }
  @media (min-width: $screen-lg){
    height: $carousel-height-lg;
  }
  @media (min-width: $screen-xl){
    height: $carousel-height-xl;
  }
  .fm-carousel-figure{
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    @media (min-width: $screen-sm){
      padding-bottom: 70px;
    }
    img, video{
      position: absolute;
      width: 100%;
      height: auto;
      max-height: none;
      @include center-xy;
    }
  }
  .fm-carousel-caption{
    color: white;
    font-family: $font-serif;
    font-size: 36px;
    line-height: 39px;
    position: relative;
    left: $homepage-carousel-left-align-xs;
    width: calc(100% - #{$homepage-carousel-left-align});
    max-height: 100%;
    overflow: hidden;
    padding: $carousel-text-shadow $homepage-carousel-left-align $carousel-text-shadow $carousel-text-shadow;
    @include center-y();
    @media (min-width: $screen-sm){
      left: $homepage-carousel-left-align;
    }
    @media (min-width: $screen-lg){
      font-size: 52px;
      line-height: 60px;
      padding-right: $header-site-list-width + 75px;

    }
    .icon:before{
      font-size: 75%;
    }
    a{
      color: white;
      @include text-shadow(0 0 $carousel-text-shadow rgba(0, 0, 0, 0.6));
    }
  }
}
.fm-carousel-controls{
  position: absolute;
  bottom: 30px;
  left: $homepage-carousel-left-align-xs;
  margin-left: $carousel-text-shadow;
  z-index: 5;
  @media (min-width: $screen-sm){
    left: $homepage-carousel-left-align;
    bottom: 50px;
  }
  span {
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 50%;
    z-index: 5;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    &.active{
      height: 12px;
      width: 12px;
      background: transparent;
      border: 2px solid white;
      top: 2px;
      cursor: default;
    }
  }
}