.social-share
  ul
    li Share This:
    li: span.fa.fa-facebook.st_facebook_large(displaytext='Facebook')
    li: span.fa.fa-twitter.st_twitter_large(displaytext='Tweet')
    li: span.fa.fa-google-plus.st_googleplus_large(displaytext='Google +')
    li: span.fa.fa-linkedin.st_linkedin_large(displaytext='LinkedIn')
    li: span.fa.fa-envelope.st_email_large(displaytext='Email')

//- span.st_facebook_large(displaytext='Facebook')
//- span.st_twitter_large(displaytext='Tweet')
//- span.st_googleplus_large(displaytext='Google +')
//- span.st_linkedin_large(displaytext='LinkedIn')
//- span.st_email_large(displaytext='Email')