.social-share
  ul
    li Share This:
    li: span.fa.fa-facebook.st_facebook_custom(displaytext='Facebook')
    li: span.fa.fa-twitter.st_twitter_custom(displaytext='Tweet')
    li: span.fa.fa-google-plus.st_googleplus_custom(displaytext='Google +')
    li: span.fa.fa-linkedin.st_linkedin_custom(displaytext='LinkedIn')
    li: span.fa.fa-envelope.st_email_custom(displaytext='Email')