.social-share{
  ul{
    float: right;
    @media (max-width: $screen-xs-max){
      float: none;
      text-align: center;
    }
  }
  li{
    color:#000;
    display: inline;
    font-size: 12px;
    line-height: 18px;
    margin: 0 5px;
    &:last-child{
      margin-right:0;
    }
  }
  span[class*="st_"] *{
    background-image: none !important;
    position: absolute;
    left: 0;
    top: 0;
  }
  span{
    color:#000;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    position: relative;
    &:hover{
      text-decoration: none;
      color:#007697;
    }
  }
}