.article-header
  .article-category Economic & Housing Outlook, Report
  h1 Economic Rebound on the Horizon with Q1 Slump in Rearview Mirror
  h2 Subheading is displayed here
  .article-date June 23, 2015