.article-header{
  padding-bottom: 10px;
  border-bottom: 1px solid $color-hr;
  margin-bottom: 30px;
  h1{
    font-size: 30px;
    line-height: 34px;
    margin: 0;
  }
  h2{
    font-size: 18px;
    line-height: 25px;
    margin: 0;
  }
  .article-category{
    font-family: $font-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .article-date{
    font-size: 12px;
    margin: 10px 0 0;
  }
}
