extends ../layouts/layout-one-column

block title
  title Home

block top-content
  //- include ../../components/homepage-carousel/_default.jade

block content
  //- include ../../components/primary-feature/_default.jade
  //- include ../../components/primary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade