extends ../layouts/layout-two-column

block title
  title PT09 Contact

block top-content
  -var config={withImage : true, title: 'Contact Us', caption: 'Overview text that concisely describes the publication. Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.'};
  include ../../components/overview/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade


block content
  include ../../components/contact-form/_default.jade

block rail
  include ../../components/promo/_default.jade
