extends ../layouts/layout-one-column

block title
  title PT08 Subsite Landing

block top-content
  include ../../components/overview/_default.jade
  include ../../components/breadcrumb/_default.jade
  include ../../components/social-share/_default.jade
  include ../../components/top-navigation/_default.jade

block content
  include ../../components/chart-viewer/_default.jade
  include ../../components/locator-form/_default.jade
  include ../../components/featured-subpages/_default.jade
  include ../../components/featured-subpages/_default.jade
  include ../../components/secondary-subpages/_default.jade
  include ../../components/secondary-subpages/_default.jade
