extends ../layouts/layout-one-column

block title
  title Generic Landing

block top-content
  //- include ../../components/overview/_default.jade
  //- include ../../components/breadcrumb/_default.jade
  //- include ../../components/social-share/_default.jade
  //- include ../../components/top-navigation/_default.jade

block content
  //- include ../../components/featured-hero/_default.jade
  //- include ../../components/news-teaser/_default.jade
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
