extends ../layouts/layout-two-column

block title
  title PT09 Contact

block top-content
  -var config={withImage : true, title: 'Contact Us', caption: 'Our dedicated staff is here to answer all your mortgage and housing questions. Let us know how we can help.'};
  include ../../components/overview/_default.jade
  .breadcrumb-social-wrap
    -var config={ links : ['Home'], page : 'Contact Us'}
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade


block content
  form
    include ../../components/topic-box/_default.jade
    .article-wrapper.padding-30
      include ../../components/contact-form/_default.jade

block rail
  include ../../components/promo/_default.jade
