extends ../layouts/layout-one-column

block title
  title Generic Landing

block content
  //- include ../../components/image-slider/_default.jade
  //- include ../../components/image-slider/_default.jade
  //- include ../../components/image-slider/_default.jade
