extends ../layouts/layout-one-column

block title
  title PT04 Listing

block top-content
  -var config={withImage : true, title: 'Economic & Housing Outlook', caption: 'Overview text that concisely describes the publication. Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.'};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    -var config={ parent : 'Research & Insights', child : 'Economic & Housing Outlook'}
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  include ../../components/chart-viewer/_default.jade
  include ../../components/article-teaser/_default.jade
  
  include ../../components/grid-listing/_default.jade
