extends ../layouts/layout-one-column

block title
  title PT08 Subsite Landing

block top-content
  -var config={withImage : true, title: 'Capital Market Investors', caption: 'Overview text that concisely describes the publication. Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.'};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  include ../../components/chart-viewer/_default.jade
  include ../../components/locator-form/_default.jade
  include ../../components/locator-form/_default.jade
  include ../../components/featured-subpages/_default.jade
  include ../../components/featured-subpages/_default.jade
  include ../../components/secondary-subpages/_default.jade
  include ../../components/secondary-subpages/_default.jade
