extends ../layouts/layout-two-column

block title
  title PT05 Article

block top-content
  -var config={withImage : false, title: 'Economic & Housing Outlook', caption: false};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  .article-wrapper.white-bg
    include ../../components/article-header/_default.jade
    include ../../components/rich-text-block/_default.jade
    include ../../components/content-image/_default.jade
    include ../../components/content-video/_default.jade
    include ../../components/content-table/_default.jade
    include ../../components/article-share/_default.jade
    include ../../components/disclaimer/_default.jade

block rail
  include ../../components/report-detail/_default.jade
  include ../../components/report-detail/_default.jade
  include ../../components/people-promo/_default.jade
  include ../../components/email-updates/_default.jade