extends ../layouts/layout-two-column

block title
  title PT05 Article

block top-content
  -var config={withImage : false, title: 'Economic & Housing Outlook', caption: false};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    .full-width-max
      -var config={ links : ['Home', 'Research & Insights', 'Economic & Housing Overlook'], page : 'Economic Rebound on the Horizon with Q1 Slump in Rearview Mirror'}
      include ../../components/breadcrumb/_default.jade
      include ../../components/social-share/_default.jade

block content
  article.article-wrapper.padding-30
    include ../../components/article-header/_default.jade
    .rich-text-block
      p Recent indicators suggest that the U.S. is experiencing a moderate rebound in economic growth in the current quarter following a temporary drop in activity in the first quarter, according to Fannie Mae’s (FNMA/OTC) Economic & Strategic Research (ESR) Group. The strong U.S. dollar and challenges in the oil and gas industry will likely produce some ongoing headwinds in the near term. However, the continued strengthening in employment and household income, as well as the return to more normalized weather patterns, are expected to help economic growth climb to 2.4 percent annualized in the second quarter before accelerating in the second half of the year to an average of 3.0 percent.
      figure
        img(src='../media/content-image-2.png', alt='Placeholder Image', title='Placeholder image')
        figcaption
          p Concise text that tells people what the data means. This will help people who struggle to interpret graphs.
      p “The first-quarter slump wreaked more havoc than expected, particularly as real consumer spending grew only 1.8 percent annualized despite significant savings at the gas pump,” said Fannie Mae Chief Economist Doug Duncan. “We adjusted our full-year growth projection down to 1.9 percent from 2.3 percent in the prior forecast, in light of the downward revision to first-quarter GDP. However, our forecast for the current quarter and the rest of the year is little changed as recent developments support our expectations for a second-quarter pick-up. Labor market conditions are providing more near-term support for consumers, indicating that the acceleration in income growth this year should be sustainable. Additionally, the decline in gas prices could lead to a delayed boost in consumer spending as we saw in May with auto sales posting the strongest pace in nearly a decade, further signaling that consumer spending is gearing up for a rebound.”
      p “Our forecast for housing and mortgage activity remains unchanged amid continued improvement seen at the start of the second quarter,” said Duncan. “We expect total housing starts and total home sales in 2015 to rise about 10 and 5 percent, respectively, with mortgage originations increasing approximately 23 percent to $1.46 trillion. Given the uneven economic growth in the U.S. and slow growth around the globe, interest rates are unlikely to surge. This should enable the housing market to better withstand some headwinds from higher rates this year than in the past.”
      -var download = true
      include ../../components/article-share/_default.jade
      include ../../components/disclaimer/_default.jade

block rail
  include ../../components/rail-list/_default.jade
  -var isAlt = true
  .rail-row
    include ../../components/rail-list/_default.jade
  .rail-row
    include ../../components/people-promo/_default.jade
  .rail-row
    include ../../components/email-updates/_default.jade