extends ../layouts/layout-one-column

block title
  title PT06 News Landing

block top-content
  -var config={withImage : true, title: 'News', caption: 'Overview text that concisely describes the publication. Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.'};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  include ../../components/featured-hero/_default.jade
  include ../../components/news-teaser/_default.jade
  include ../../components/subpage-teaser-listing/_default.jade
  include ../../components/secondary-feature/_default.jade
  include ../../components/secondary-feature/_default.jade
  include ../../components/secondary-feature/_default.jade
