extends ../layouts/layout-two-column

block title
  title PT05 Article

block top-content
  -var config={withImage : false, title: 'Economic & Housing Outlook', caption: false};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  article.article-wrapper.padding-30
    include ../../components/article-header/_default.jade
    .rich-text-block
      p Recent indicators suggest that the U.S. is experiencing a moderate rebound in economic growth in the current quarter following a temporary drop in activity in the first quarter, according to Fannie Mae’s (FNMA/OTC) Economic & Strategic Research (ESR) Group. The strong U.S. dollar and challenges in the oil and gas industry will likely produce some ongoing headwinds in the near term.
      figure
        img(src='../media/content-image-2.png', alt='Placeholder Image', title='Placeholder image')
        figcaption
          p Concise text that tells people what the data means. This will help people who struggle to interpret graphs.
      include ../../components/article-share/_default.jade
      include ../../components/disclaimer/_default.jade

block rail
  include ../../components/rail-list/_default.jade
  -var isAlt = true
  .rail-row
    include ../../components/rail-list/_default.jade
  .rail-row
    include ../../components/people-promo/_default.jade
  .rail-row
    include ../../components/email-updates/_default.jade