extends ../layouts/layout-two-column

block title
  title Generic Landing

block content
  //- include ../../components/search-call-out/_default.jade
  //- include ../../components/search/_default.jade

block rail
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/subpage-teaser/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
  //- include ../../components/secondary-feature/_default.jade
