extends ../layouts/layout-two-column

block title
  title PT03 Generic Detail

block content
  .article-wrapper.white-bg
    include ../../components/rich-text-block/_default.jade
    include ../../components/accordian/_default.jade

block rail
  include ../../components/rail-navigation/_default.jade
  include ../../components/promo/_default.jade
  include ../../components/image-promo/_default.jade