extends ../layouts/layout-one-column

block title
  title PT10 Careers

block top-content
  -var config={withImage : true, title: 'Careers', caption: 'Overview text that concisely describes Fannie Mae’s Social Media. Lorem ipsum dolor sit amet, consectetur adipiscing.'};
  include ../../components/overview/_default.jade
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  include ../../components/job-search/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/subpage-teaser/_default.jade
  include ../../components/secondary-feature/_default.jade
  include ../../components/secondary-feature/_default.jade
  include ../../components/secondary-feature/_default.jade
  include ../../components/testimonials/_default.jade
