extends ../layouts/layout-one-column

block title
  title PT10 Careers

block top-content
  -var config={withImage : true, title: 'Careers', caption: 'Fannie Mae is seeking talented individuals to fulfill our mission of building a sustainable housing finance system. Join our team and start making a difference today.'};
  include ../../components/overview/_default.jade
  -var linkList = linkList || ['Why Fannie Mae', 'What We Offer', 'Locations', 'Who We Seek', 'Hiring Process', 'University Recruiting']
  include ../../components/top-navigation/_default.jade
  .breadcrumb-social-wrap
    -var config={ links : ['Home'], page : 'Careers'}
    include ../../components/breadcrumb/_default.jade
    include ../../components/social-share/_default.jade

block content
  .content-row
    include ../../components/job-search/_default.jade
  .content-row
    -var isCareers = true
    include ../../components/subpage-teaser-listing/_default.jade
  .content-row
    .equal-height-sm-row
      - config = { "className" : "col-sm-4 col-sm-height", "theme": "white-bg color-dark", "type" : "Twitter", "title" : "Our Economic and Strategic Research will keep you informed + up-to-date on the latest in housing trends: <a href='' class='color-brand'>http://bit.ly/1FHNQTY</a>", "date" : "April 23, 2015", "ctaText" : "Read More"}
      include ../../components/secondary-feature/_default.jade
      - config = { "className" : "col-sm-4 col-sm-height", "theme": "white-bg color-dark", "type" : "Linkedin", "text" : "Short description about Fannie Mae on LinkedIn, onec sed eros sit amet libero gravida pellentesque. In fermentum ex feugiat.", "ctaText" : "Read More"}
      include ../../components/secondary-feature/_default.jade
      - config = { "className" : "col-sm-4 col-sm-height", "theme": "white-bg color-dark", "type" : "Glassdoor", "text" : "Short description about Fannie Mae on Glassdoor, onec sed eros sit amet libero gravida pellentesque. In fermentum ex feugiat.", "ctaText" : "Read More"}
      include ../../components/secondary-feature/_default.jade
  .content-row
    include ../../components/testimonials/_default.jade
