extends ../layouts/layout-two-column

block title
  title Style Guide

block top-content
  -var config={withImage : true, title: 'HTML Style Guide', caption: 'We help to ensure that qualified homebuyers across the nation have access to mortgage credit in good times and bad, and that quality, affordable rental housing is available.'};
  include ../../components/overview/_default.jade
  .breadcrumb-social-wrap
    .full-width-max
      -var config={ links : ['Home'], page : 'HTML Style Guide'}
      include ../../components/breadcrumb/_default.jade
      include ../../components/social-share/_default.jade

block content
  .article-wrapper.white-bg.padding-30
    .rich-text-block
      h1 CSS Basic Elements
      p
        | The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.
      hr
      h1 Fonts
      ul
        li Sans Serif Font (Urbano-Regular)
        li.font-serif Serif Font (Glyddon-Regular)
      hr
      h1 Color Palette
      .row
        .col-sm-2
          .color-square.color-dark-blue: span #000F2B
          .color-desc Dark blue backgrounds, text
        .col-sm-2
          .color-square.color-light: span #E4E4E4
          .color-desc Light backgrounds
        .col-sm-2
          .color-square.color-body-bg: span #ECEBEE
          .color-desc Main body background
        .col-sm-2
          .color-square.color-link-light: span #007697
          .color-desc Accent color; Links on white backgrounds
        .col-sm-2
          .color-square.color-link-dark: span #00ACDC
          .color-desc Links on dark backgrounds
        .col-sm-2
          .color-square.color-hr: span #000F2B
          .color-desc Borders, HR elements
      .row
        .col-sm-2
          .color-square.color-light-blue: span #E5F1F4
          .color-desc Accent color
        .col-sm-2
          .color-square.color-gray: span #324456
          .color-desc Accent color
        .col-sm-2
          .color-square.color-dark-gray: span #46525E
          .color-desc Accent color
        .col-sm-2
          .color-square.color-error: span #B03535
          .color-desc Error highlight
      hr
      h1#headings Headings
      h1 Heading 1
      h2 Heading 2
      h3 Heading 3
      h4 Heading 4
      h5 Heading 5
      h6 Heading 6
      .fm-subtitle Subtitle
      hr
      h1 Custom Icons
      ul
        li .icon.fm-arrow-left-circle
          span.padding-10.icon.fm-arrow-left-circle(aria-hidden="true") 
        li .icon.fm-arrow-left
          span.padding-10.icon.fm-arrow-left(aria-hidden="true")
        li .icon.fm-arrow-right-circle
          span.padding-10.icon.fm-arrow-right-circle(aria-hidden="true")
        li .icon.fm-arrow-right
          span.padding-10.icon.fm-arrow-right(aria-hidden="true")
        li .icon.fm-minus-circle
          span.padding-10.icon.fm-minus-circle(aria-hidden="true")
        li .icon.fm-minus
          span.padding-10.icon.fm-minus(aria-hidden="true")
        li .icon.fm-plus-circle
          span.padding-10.icon.fm-plus-circle(aria-hidden="true")
        li .icon.fm-plus
          span.padding-10.icon.fm-plus(aria-hidden="true")
        li .icon.fm-search-circle
          span.padding-10.icon.fm-search-circle(aria-hidden="true")
        li .icon.fm-search
          span.padding-10.icon.fm-search(aria-hidden="true")
        li .icon.fm-pause-circle
          span.padding-10.icon.fm-pause-circle(aria-hidden="true")
        li .icon.fm-play-circle
          span.padding-10.icon.fm-play-circle(aria-hidden="true")
      hr
      h1 Paragraph
      p
        | Lorem ipsum dolor sit amet, 
        a(href='/') test link
        |  adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
      p
        | Lorem ipsum dolor sit amet, 
        em emphasis
        |  consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
      hr
      h1#list_types List Types
      h3 Definition List
      dl
        dt Definition List Title
        dd This is a definition list division.
        dt Definition List Title 2
        dd This is a definition list division.
      h3 Ordered Lists
      ol(type="1")
        li List Item 1
        li List Item 2
        li List Item 3
      ol(type="i")
        li List Item i
        li List Item ii
        li List Item iii
      h3 Unordered List
      ul
        li List Item 1
        li List Item 2
        li List Item 3
      hr
      h1 Link List
      .row
        .col-sm-6
          ul.link-listing.custom-icons
            li
              a(href="/") 
                | Lorem ipsum dolor sit
                span.list-icon.icon.fm-arrow-right(aria-hidden="true")
            li
              a(href="/") 
                | Lorem ipsum dolor sit
                span.list-icon.icon.fm-arrow-right(aria-hidden="true")
            li
              a(href="/") 
                |  Lorem ipsum dolor sit
                span.list-icon.icon.fm-arrow-right(aria-hidden="true")
      hr
      h1#misc Misc Paragraph Elements
      p
        | Lorem 
        sup superscript
        |  dolor 
        sub subscript
        |  amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. 
        cite cite
        | . Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. 
        acronym(title='National Basketball Association') NBA
        |  Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  
      blockquote.with-citation
        | This stylesheet is going to help so much.
        footer: cite Citation
      h1#tables Tables
      h2 Non-Responsive Table
      .overflow-wrapper
        table
          thead
            tr
              th Table Header 1
              th Table Header 2
              th Table Header 3
          tbody
            tr
              td Division 1
              td Division 2
              td Division 3
            tr
              td Division 1
              td Division 2
              td Division 3
            tr
              td Division 1
              td Division 2
              td Division 3
      h2 Responsive Table
      include ../../components/content-table/_default.jade
      hr
      h1 Figure with Video
      figure
        include ../../components/content-video/_default.jade
        figcaption
          h3 Adding new technology for mortgage servicers
          p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
      hr
      h1 Figure with Image
      figure
        img(src='../media/content-image-1.png', alt='Placeholder Image', title='Placeholder image')
        figcaption
          h3 Adding new technology for mortgage servicers
          p The Consumer Financial Protection Bureau (CFPB) passed comprehensive mortgage servicing regulations in January 2014.The impending passage of these regulations spurred many mortgage...
          i.small Photo credit info
      hr
      h1 Form Elements
      form
        .row
          .col-sm-6
            input(id="contact-name" name="Name" type="text" placeholder="Text Input" required )
            label.sr-only(for="contact-name") Error message
          .col-sm-6
            input(id="contact-company" name="Company" type="text" placeholder="Text Input" )
            label.sr-only(for="contact-company") Error message
        .row
          .col-sm-12
            fieldset
              legend Radio buttons
                | sup *
              ul.inline
                li
                  input.styled-radio(type="radio" name="foo" value="foo1" id="foo1" required) 
                  label(for="foo1") Label 
                li
                  input.styled-radio(type="radio" name="foo" value="foo2" id="foo2" required) 
                  label(for="foo2") Label 
                li
                  input.styled-radio(type="radio" name="foo" value="foo3" id="foo3" required) 
                  label(for="foo3") Label 
        .row
          .col-sm-12      
            textarea(id="contact-comments" name="Comments" rows="6" placeholder="Textarea" required)
            label.sr-only(for="contact-comments") Error message      hr
      h1 Form Elements with Errors
      form.show-errors
        .row
          .col-sm-6
            input(id="contact-name" name="Name" type="text" placeholder="Text Input" required  ng-model="")
            label.sr-only(for="contact-name") Error message
          .col-sm-6
            input(id="contact-company" name="Company" type="text" placeholder="Text Input" required ng-model="")
            label.sr-only(for="contact-company") Error message
        .row
          .col-sm-12
            fieldset
              legend Radio buttons
                | sup *
              ul.inline
                li
                  input.styled-radio(type="radio" name="foo" value="foo1" id="foo1" required ng-model="") 
                  label(for="foo1") Label 
                li
                  input.styled-radio(type="radio" name="foo" value="foo2" id="foo2" required ng-model="") 
                  label(for="foo2") Label 
                li
                  input.styled-radio(type="radio" name="foo" value="foo3" id="foo3" required ng-model="") 
                  label(for="foo3") Label 
        .row
          .col-sm-12      
            textarea(id="contact-comments" name="Comments" rows="6" placeholder="Textarea" required ng-model="")
            label.sr-only(for="contact-comments") Error message

        hr
        h2 Styled Select
        .row
          .col-sm-6
            .styled-select 
              select(name="foo")
                option(value="" selected="selected" disabled="true") Select
                option(value="foo1") Other Link 1
                option(value="foo2") Other Link 2
                option(value="foo3") Other Link 3
        h2 Submit Buttons
        .row
          .col-sm-12
             button.more() Submit
              i.icon.fm-arrow-right-circle(aria-hidden="true")
        .row
          .col-sm-12
             button.more() Search
              i.icon.fm-search-circle(aria-hidden="true")
        .row
          .col-sm-12
             button.more() 
              i.icon.fm-search-circle(aria-hidden="true")
        br
        br
        hr
        h2 CTA/Button Styles
        .row
          .col-sm-6.col-sm-offset-3
            .cta-wrapper
              a.cta Read More
                i.icon.fm-arrow-right-circle(aria-hidden="true")
            br
            br
            .cta-wrapper
              a.cta.dark-bg Read More
                i.icon.fm-arrow-right-circle(aria-hidden="true")
            br
            br
            a.more( ng-click="toggleActive(styleguide.button1)" )
              span(ng-show="isActive(styleguide.button1)") View More
              span(ng-show="!isActive(styleguide.button1)") View Less
              i.icon.fm-plus.circle(aria-hidden="true" ng-class=" isActive(styleguide.button1) ? 'fm-minus' : 'fm-plus' ")
            br
            br
            br            
            br
            br
            a(href="").cta.special: i.icon.fm-arrow-right-circle(aria-hidden="true")
        hr
        h2 Link Styles
        .row
          .col-xs-12
            .padding-20
              a(href="/") Short link on white background
        .row
          .col-xs-12.dark-bg
            .padding-20
              a(href="/") Short link on dark background
            .padding-20
              a.color-white(href="/") Copy link on dark background
        hr
        h2 Banners
        .row
          .col-sm-4
            h1.banner .banner
            .text-center
              span #000f2b
          .col-sm-4.dark-bg
            h1.banner.b-white .banner.b-white
            .text-center
              span #ffffff
          .col-sm-4
            h1.banner.b-teal .banner.b-teal
            .text-center
              span #007697
        hr
        h2 Carousel Controls
        br
        br
        .row
          .text-center
            p Carousel Navigation
          .col-sm-6
            .padding-20
              .padding-5
                span .carousel-nav (.active gives you the open circle)
              span.carousel-nav
              span.carousel-nav.active
              span.carousel-nav
          .col-sm-6.dark-bg
            .padding-20
              .padding-5
                span .carousel-nav.c-white
              span.carousel-nav.c-white
              span.carousel-nav.c-white.active
              span.carousel-nav.c-white
        br
        br
        br
        .row
          .text-center
            p Carousel Arrows
          .col-sm-6
            .row
              .col-lg-6
                span .rn-carousel-control.rn-carousel-control-prev
              .col-lg-6
                span .rn-carousel-control.rn-carousel-control-next
            .row
              .col-lg-6
                .padding-30
                  .rn-carousel-control.rn-carousel-control-prev
              .col-lg-6
                .padding-30
                  .rn-carousel-control.rn-carousel-control-next
          .col-sm-6
            .row
              .text-center
                p Same classes but inside a .dark-bg div
            .row
              .col-lg-6.dark-bg
                .padding-30
                  .rn-carousel-control.rn-carousel-control-prev(style="top:20%;")   
              .col-lg-6.dark-bg
                .padding-30
                  .rn-carousel-control.rn-carousel-control-next(style="top:20%;")


      


