- var config = config || { "theme": "dark-bg", "align":"left", "imgSrc" : "/media/primary-feature-1.png", "type": "Newsroom", "title" : "Green Financing Leader Fannie Mae Announces Green Rewards for Multifamily", "date" : "May 14, 2015", "ctaText" : "Read More" }
figure.fm-primary-feature.col-sm-6
  img.fm-primary-feature-img(src=config.imgSrc)
  figcaption.fm-primary-feature-caption(class="fm-overhang-#{config.align}")
    include ../secondary-feature/_default.jade