.fm-primary-feature{
  position: relative;
  @media (max-width: $screen-xs-max){
    margin: 25px 0;
  }
  .fm-primary-feature-img{
    width: 100%;
    height: auto;
  }
  .fm-primary-feature-caption{
    position: relative;
    margin: 0 15px;
    margin-top: -25%;
    width: calc(100% - 30px);
    @media (min-width: $screen-sm){
      position: absolute;
      margin: 0;
      width: 70%;
      bottom: 40px;
      padding-bottom: 70%;
    }
    @media (min-width: $screen-md){
      width: 60%;
      padding-bottom: 60%;
    }
    .fm-secondary-feature{
      margin-top: 0;
      @media (min-width: $screen-sm){
        height: 100%;
        position: absolute;
      }
    }
  }
}