-var config = config || { parent : 'About Us', child : 'Investor Relations'}
.breadcrumb
  ul
    li: a(href="") Home
    -if (config.parent) {
      li: a(href="")= config.parent
    - }
    li= config.child