doctype html
html(ng-app="fannieMae")
  head
    include ../blocks/head.jade

    block title
      title Default title

  body(ng-controller="MainController" ng-class="{ 'openNav' : isActive('header-mobile-menu') }")

    main
      header
        include ../../components/_header/_default.jade
      .container-fluid
        .row
          .col-xs-12
            block top-content
              //- include ../../components/overview/_default.jade
              //- include ../../components/breadcrumb/_default.jade
              //- include ../../components/social-share/_default.jade

      .container
        .row
          block main-content

      .container-fluid
        .row
          .col-xs-12
            block bottom-content
  
    include ../../components/_footer/_default.jade
        
    include ../blocks/scripts.jade