.news-teaser{
  position: relative;
  padding: 0;
  margin: 0 10px;
  .equal-height-sm-row{
    border-spacing: 0;
    padding: 60px 30px;
    margin: 0;
    width: 100%;
    margin: 15px 0;
    min-height: 275px;
    @media (min-width: $screen-sm){
      padding: 90px 30px;
      margin: 0;
      min-height: none;
    }
  }
  &.twitter-theme h2 a:not(.color-brand){
    color: $color-dark-blue;
    &:hover{
      color: $color-link-light;
    }
  }
  &.dark-bg {
    a{
      color: $color-link-copy-dark;
      &:hover{
        color: $color-link-copy-dark-h;
      }
    }
    a.more{
      color: $color-link-dark;
      &:hover{
        color: $color-link-dark-h;
      }
    }
    .fm-date{
      color: white;
    }
    .block{
      border-color: rgba(255, 255, 255, .5);
    }
  }
  a.more{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: $color-link-light;
    &:hover{
      color: $color-link-light-h;
    }
    @media (min-width: $screen-sm){
      right: 30px;
      bottom: 30px;
    }
  }
  h1{
    position: absolute;
    top: 30px;
    left: 15px;
    font-size: 16px;
    font-family: $font-serif-bold;
    @media (min-width: $screen-sm){
      top: 60px;
      left: 60px;
    }
    &.offset{
      top: 20px;
      left: -10px;
      padding: 5px 20px;
    }
  }
  &.twitter-theme h1{
    background: transparent;
    color: $color-dark-blue;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  h2{
    font-size: 18px;
    @media (min-width: $screen-md){
      font-size: 24px;
    }
  }
  .block{
    min-height: 200px;
    padding: 15px;
    border-color: $color-hr;
    border-style: solid;
    border-width: 0 0 1px 0;
    @media (min-width: $screen-sm){
      border-width: 0 1px 0 0;
      //override carousel styling
      position: relative !important;
      transform: none !important;
      display: table-cell !important;
    }
    @media (min-width: $screen-md){
      padding: 30px;
    }
    &:last-of-type{
      border: none;
    }
  }
  .fm-carousel-controls{
    bottom: 18px;
    left: 0;
    span{
      background-color: $color-teal;
      &.active{
        border-color: $color-teal;
        background-color: transparent;
      }
    }
  }
  .cta + .fm-carousel-controls span {
    background-color: white;
    &.active{
      border-color: white;
      background-color: transparent;
    }
  }
}
