-var isAlt = isAlt || false;
  aside.rail-list.white-bg.padding-30
    if !isAlt
      h1.fm-subtitle Report Details
      ul
        li.fm-list-item
          a.fm-list-link(href="/") 
            .fa.fa-file-pdf-o.color-dark(aria-hidden="true")
            |  June Report
            span.fm-list-icon.fa.fa-download(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  June Economic Forecast
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  June Housing Forecast 
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  June Multifamily Market Commentary
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            .fa.fa-file-audio-o.color-dark(aria-hidden="true")
            |  Podcast
            span.fm-list-icon.fa.fa-download(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            .fa.fa-file-video-o.color-dark(aria-hidden="true")
            |  Video Summary
            span.fm-list-icon.fa.fa-download(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  June News Release
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
    else
      h1.fm-subtitle Weekly Updates
      ul
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  Finally, the Boost Materializes as Consumers Spend Big in May 
            .small June 25, 2015
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
        li.fm-list-item
          a.fm-list-link(href="/") 
            |  Finally, the Boost Materializes as Consumers Spend Big in May 
            .small June 25, 2015
            span.fm-list-icon.icon.fm-arrow-right(aria-hidden="true")
      .text-center
        a.more(href="/") 
          |  View More  
          i.icon.fm-arrow-right(aria-hidden="true")
