//- image is optional
-var config = config || {withImage : false, title: 'About Us', caption: 'We help to ensure that qualified homebuyers across the nation have access to mortgage credit in good times and bad, and that quality, affordable rental housing is available.'};

-if (config.withImage) {
  section.overview.with-image
    .image-wrap
      picture    
        source(srcset="http://placehold.it/2000x380/333/444" media="(min-width: 1080px)")   
        source(srcset="http://placehold.it/1280x360/d13120/fff" media="(min-width: 600px)")    
        img.fade-in.hero(src="http://placehold.it/600x300/aaa/fff" alt="") 
    .caption
      h1 #{config.title}
      - if(config.caption) {
        p #{config.caption}
      - }
- } else {
  section.overview
    .container
      .col-md-8
        .caption
          h1 #{config.title}
          - if(config.caption) {
            p #{config.caption}
          - }
- }