section.testimonials(fm-carousel)
  .fm-basic-carousel
    h1 From Our Employees 
    .fm-carousel-controls(rn-carousel-indicator custom-indicator)
      span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
    ul(rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls)
      li.fm-carousel-item
        blockquote Fannie Mae truly leverages its employees' knowledge to do the best job possible. It is refreshing to work for a company that wants its employees to succeed.
        cite Cathy – QA Manager, Dallas/Forth Worth Area 
      li.fm-carousel-item
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
        cite Cathy – QA Manager, Dallas/Forth Worth Area
      li.fm-carousel-item
        blockquote Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 
        cite Cathy – QA Manager, Dallas/Forth Worth Area
