section.testimonials{
  margin: 50px 0 30px;
  position: relative;
  min-height: 500px; 
  @media (min-width: $screen-sm){
    margin: 50px 10px 30px; 
    min-height: 410px; 
  }
  .fm-basic-carousel{
    float: none;
    right: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;   
    h1{
      background: #fff;
      color: $color-dark-blue;
      font-weight: bold;
    }
    ul{
      width: 100%;
      background: #000f2b;
      min-height: 500px; 
      @media (min-width: $screen-sm){
        min-height: 410px; 
      }
      li{
        background: transparent;
        color:#fff;
        padding: 0 50px;
        margin: 30px 0;
        @media (min-width: 1000px){
          margin: 0;
          padding-left: 80px;
          padding-right: 80px;
        }
        @media (min-width: 1400px){
          padding-left: 150px;
          padding-right: 150px;
        }        
      }
    }
    .rn-carousel-control{
      top: 50%; 
      color: white;
    }
    .fm-carousel-controls{
      @include center-x;
      span{
        border-color: white;
        background-color: white;
        &.active{
          background: transparent;
        }
      }
    }
  }
  blockquote{
    position: relative;
    @include center-y();
    font-size: 20px;
    @media (max-width: $screen-xs-max){
      font-size: 18px;
      margin-top: -50px;
    }
    cite{
      font-size: 14px;
      display: block;
      position: absolute;
      top: 100%;
      line-height: 18px;
    }
  }
}