section.block.white-bg.padding-80.article-teaser.rich-text-block
  h2 Article teaser and stuff
  h3 Subheading is displayed here
  span.fm-date June 23, 2015
  p Recent indicators suggest that the U.S. is experiencing a moderate rebound in economic growth in the current quarter following a temporary drop in activity in the first quarter, according to Fannie Mae’s (FNMA/OTC) Economic & Strategic Research (ESR) Group. The strong U.S. dollar and challenges in the oil and gas industry will likely produce some ongoing headwinds in the near term. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in risus eu est pharetra sagittis sed quis justo. Mauris molestie sed augue a fringilla. Pellentesque egestas, massa et consectetur pulvinar, enim mauris consectetur arcu, id bibendum quam risus sed diam. Suspendisse potenti. Morbi cursus et felis vitae facilisis. Nunc id eros erat. Quisque mattis dolor dui, ut maximus enim mollis sed. 

  hr

  .text-center
    a.more View More
      i.icon.fm-arrow-right
