.article-teaser{
  margin-bottom: 60px;
  padding-bottom: 10px;
  h2{
    margin: 0;
  }
  h3{
    color:#0092bd;
    font-size: 18px;
    margin: 0 0 10px;
  }
  .fm-date{
    margin-bottom: 30px;
    color:#0092bd;
  }
  p{

  }
}