.featured-hero
  figure.white-bg.pull-left
    img.pull-left(src="../media/featured-hero-1.png")
    figcaption.padding-30
      h1: a(href="/") Fannie Mae Multifamily Receives Top Ranking as a Master Servicer from Morningstar
      include ../article-share/_default
