table.responsive-table
  thead
    tr
      th(scope="col") CUSIP
      th(scope="col") Issue Date
      th(scope="col") Maturity Date
      th(scope="col") Coupon
      th(scope="col") Amount Issued
  tr
    th(scope="row" data-title="CUSIP") 3135G0NV1
    td(data-title="Issue Date") 08/17/2012
    td(data-title="Maturity Date") 09/28/2015
    td(data-title="Coupon") 0.500%
    td(data-title="Amount Issued") 5,000,000,000
  tr
    th(scope="row" data-title="CUSIP") 31359MZC0
    td(data-title="Issue Date") 09/12/2005
    td(data-title="Maturity Date") 10/15/2015
    td(data-title="Coupon") 4.375%
    td(data-title="Amount Issued") 4,000,000,000
  tr
    th(scope="row" data-title="CUSIP") 31398A4M1
    td(data-title="Issue Date") 09/27/2010
    td(data-title="Maturity Date") 10/26/2015
    td(data-title="Coupon") 1.625%
    td(data-title="Amount Issued") 6,500,000,000
  tr
    th(scope="row" data-title="CUSIP") 31359MH89
    td(data-title="Issue Date") 02/16/2006
    td(data-title="Maturity Date") 12/21/2015
    td(data-title="Coupon") 0.375%
    td(data-title="Amount Issued") 4,000,000,000
  tr
    th(scope="row" data-title="CUSIP") 31359MH89
    td(data-title="Issue Date") 02/16/2006
    td(data-title="Maturity Date") 03/15/2016
    td(data-title="Coupon") 5.000%
    td(data-title="Amount Issued") 5,000,000,000
  tr
    th(scope="row" data-title="CUSIP") 3135G0VA8
    td(data-title="Issue Date") 02/15/2013
    td(data-title="Maturity Date") 03/30/2016
    td(data-title="Coupon") 0.500%
    td(data-title="Amount Issued") 6,000,000,000