-var config = config || { title: 'Credit Risk Sharing', caption: '', list: ['Connecticut Avenue Securities', 'Credit Insurance Risk Sharing', 'Mortgage Insurance Risk Sharing']}
section.secondary-subpages.block.white-bg.padding-30
  h1.fm-subtitle= config.title
  p=config.caption

  header.fm-list-title
    h2 Products
    a.view-all(href="") View All
  ul.link-listing
    each val in config.list
      li: a(href="")= val

  a(href="").cta View
    i.icon.fm-arrow-right-circle(aria-hidden="true")