extends ./layouts/layout-two-column

block title
  title Index page

block content
  h1 Page Templates
  ul
    li: a(href="../html/pt-01-home.html") PT-01: Home
    li: a(href="../html/pt-02-generic-landing.html") PT-02: Generic Landing
    li: a(href="../html/pt-03-generic-detail.html") PT-03: Generic Detail
    li: a(href="../html/pt-04-listing.html") PT-04: Listing
    li: a(href="../html/pt-04a-news-listing.html") PT-04a: News Listing
    li: a(href="../html/pt-05-article.html") PT-05: Article
    li: a(href="../html/pt-06-news-landing.html") PT-06: News Landing
    li: a(href="../html/pt-07-search-results.html") PT-07: Search Results
    li: a(href="../html/pt-08-subsite-landing.html") PT-08: Subsite Landing
    li: a(href="../html/pt-09-contact-us.html") PT-09: Contact Us
    li: a(href="../html/pt-10-careers.html") PT-10: Careers

block rail
  h1 Generic Layouts
  ul
    li: a(href="/html/generic/one-col.html") Generic 1 Column
    li: a(href="/html/generic/two-col.html") Generic 2 Column

  h1 Links
  ul
    li: a(href="https://projects.invisionapp.com/share/MP5TXU28S#/screens") Design (Egnyte)
    li: a(href="http://fanniemae.cloudapp.net/about-us") Drupal Site (Internal)