aside.rail-list.white-bg.padding-30(fm-accordion)
  div(fm-accordion-item)
    h1.fm-subtitle Authors
    ul.bottom-border(ng-cloak)
      li
        -var config = { name: "Katie Penote", title: "Senior Communications & Marketing Manager, Fannie Mae", contact: true, link: false}
          include ../bio-teaser/_default.jade
      li
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", contact: true, link: false}
          include ../bio-teaser/_default.jade
      li(ng-show="isOpen()")
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", contact: true, link: false}
          include ../bio-teaser/_default.jade
      li(ng-show="isOpen()")
        -var config = { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae", contact: true, link: false, noPhoto: true}
          include ../bio-teaser/_default.jade
    .text-center
      a.more(href ng-click="toggleItem()") 
        span(ng-show="!isOpen()") View All
          i.icon.fm-plus-circle(aria-hidden="true")
        span(ng-show="isOpen()") View Less
          i.icon.fm-minus-circle(aria-hidden="true")