.search-call-out.dark-bg.padding-30.display-table
  span Not finding what you need?  Tell us who you are:
  ul.search-links(fm-accordion)
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a.dropdown(href ng-click="toggleItem()") Lender
      ul.submenu
        li: a(href="/") Single-Family
        li: a(href="/") MultiFamily
    li(fm-accordion-item ng-class="{ 'open' : isOpen() }")
      a.dropdown(href ng-click="toggleItem()") Servicer
      ul.submenu
        li: a(href="/") Single-Family
        li: a(href="/") MultiFamily
    li: a(href="/") Homeowner or Buyer