.search-call-out{
  width: 100%;
  span{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    display: block;
  }
  .search-links{
    display: table;
    table-layout: fixed;
    width: 100%;
    > li{
      vertical-align: middle;
      position: relative;
      display: block;
      &:last-child{
        border: none;
        padding-right: 0;
      }
      @media (min-width: $screen-sm){
        height: 20px;
        border-right: 1px solid rgba(255, 255, 255, .3);
        display: table-cell;
        text-align: center;
      }
    }
  }
  a{
    padding: 0 30px 0 0;
    text-align: center;
    color: $color-link-dark;
    position: relative;
    &:hover{
      color: $color-link-dark-h;
    }
    &:visited{
      color: $color-link-dark-v;
    }
    @media (min-width: $screen-sm){
      padding: 0;
    }
    &.dropdown:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $color-link-dark transparent transparent transparent;
      right: 0;
      top: calc(50% - 3px);
      position: absolute;
      @include transition(transform .4s ease-in);
      @media (min-width: $screen-sm){
        right: -15px;
      }
    }
  }
  .open a.dropdown:after{
    @include transform(rotate(180deg));
  }
  .submenu{
    @include transition(all .4s ease-in);
    @include box-shadow(0 0 5px rgba(0, 0, 0, .1));
    max-height: 0;
    overflow: hidden;

    @media (min-width: $screen-sm){
      position: absolute;
      top: 150%;
      left: 0;
      width: 100%;
      background: white;
    }
    li{
      padding: 5px 10px;
      border-bottom: 1px solid $color-hr;
      text-align: left;
      @media (min-width: $screen-sm){
        padding: 10px;
      }
    }
    a{
      padding: 0;
      @media (min-width: $screen-sm){
        color: $color-link-light;
        &:hover{
          color: $color-link-light-h;
        }
        &:visted{
          color: $color-link-light-v;
        }
      }
    }
  }
  .open .submenu{
    max-height: 100px;
  }
}