.fm-title{
  font-size: 18px;
  display: block;
  margin: 20px 0;
  @media (min-width: $screen-md){
    font-size: 24px;
  }
}
.fm-date{
  font-size: 14px;
}
.fm-type{
  font-size: 16px;
  font-weight: bold;
  @media (min-width: $screen-md){
    font-size: 16px;
  }
}
.fm-link{
  font-size: 18px;
}
.fm-title ~ .fm-link{
  margin-bottom: 0;
}
.cta{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.white-bg .cta{
  background: $color-teal;
  color: white;
  &:hover{
    color: white;
  }
}
.fm-secondary-feature{
  position: relative;
  padding-bottom: $cta-height + 30px;
  @media (max-width: $screen-xs-max){
    margin-top: 30px;
    min-height: 255px;
  }
}