footer.footer
  section.footer-lead.pull-left
    a.site-logo.navbar-btn.pull-left(href="/" title="home")
      svg(role="img" title="Fannie Mae" viewBox="0 0 423 126" preserveAspectRatio="none")
        use(xlink:href="../media/FannieMae-Logo.svg#Logo")
    .copyright
      | © 2016 Fannie Mae
  section.footer-menus.pull-left
    ul.footer-menu.links.list-inline.display-table
      li.table-cell.align-middle
        a.active(href='/', title='') Suppliers
      li.table-cell.align-middle
        a(href='/careers', title='') Careers
      li.table-cell.align-middle
        a(href='/contact-us', title='') Contact Us
      li.table-cell.align-middle
        a(href='/legal', title='') Legal
      li.table-cell.align-middle
        a(href='/privacy', title='') Privacy
      li.table-cell.align-middle
        a(href='/stay-connected') Stay Connected
