.footer{
  height: $footer-height-md;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
  margin-bottom: 0;
  @media (max-width: $screen-sm-max){
    margin-bottom: 70px;
  }
  @media (max-width: $screen-xs-max){
    margin-bottom: 90px;
  }
  .links a{
    color: #fff;
    &:hover{
      color: $color-link-copy-dark-h;
    }
  }
  .footer-lead{
    background: $color-dark-blue;
    height: 100%;
    width: $footer-lead-width-lg;
    display: inline-block;
    padding: 15px 30px;
    a{
      position: relative;
      margin-top: 11px;
      vertical-align: middle;
      color: #fff;
      @media(max-width: $screen-xs-max){
        margin-left: 10px;
      }
      svg{
        position: absolute;
        top:-9px;
        fill: #fff;
        width: 31px;
        height: 31px;
        right:-50px;
      }
      &:hover{
        color: $color-link-copy-dark-h;
        svg{
          fill: $color-link-copy-dark-h;
        }
      }
    }
    .copyright{
      display: none;
      @media(max-width: $screen-md-max){
        display: block;
      }
    }
    @media(max-width: $screen-md-max){
      border-bottom: 1px solid rgba(255,255,255,.5);
      width: 100%;
    }
    @media only screen and (max-width:$screen-xs-max) {
      padding: 15px 0;
      text-align: center;
      > *{
        display: inline-block;
      }
    }
  }
  .footer-menus {
    width: calc(100% - #{$footer-lead-width-lg});
    display: inline-block;
    height: 100%;
    padding: $footer-element-spacing;
    background: $color-dark-blue;
    @media (max-width: $screen-md-max){
      width: 100%;
    }
    @media only screen and (max-width:$screen-xs-max) {
      height: auto;
    }
    .footer-menu{
      height: 100%;
      margin: 0;
      @media (max-width: $screen-md-max){
        width: 100%;
      }
      @media only screen and (max-width:$screen-sm-max) {
        margin: 0 auto;
        width: 100%;
      }
    }
    li{
      padding: 0 20px;
      border: none;
      @media only screen and (max-width:$screen-xs-max) {
        width: 50%;
        float: left;
        border: none;
      }
      &:last-child{
        border: none;
        white-space: nowrap;
        @media(max-width: $screen-md-max){
          position: absolute;
          top: -68px;
          right: 5px;
        }
      }
    }
  }
  .logo{
    height: 100%;
  }
  .copyright{
    height: 100%;
    padding-left: 40px;
    border-left: 1px solid $color-light-gray-50;
    @media(max-width: $screen-md-max){
      display: none;
      border: none;
      float: right;
      padding-left: 0;
      margin-right: 10px;
    }
    @media only screen and (max-width:$screen-sm-max) {
      margin-left: 10px;
    }
  }
}
