.article-share.padding-30
  if download
    a.download(href) Download Complete Report PDF 
      i.fa.fa-file-pdf-o
  a.st_sharethis_custom(st_url="http://linktothearticle.com" st_title="FannieMae Article Title" displayText="Share this article") Share This
    span.fa.fa-share-alt