
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js")

script.
  window.angular || document.write('<script src="/js/lib/angular.min.js"><\/script>');

script(type='text/javascript').
  var switchTo5x=true;
script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
script(type='text/javascript').
  stLight.options({publisher: "33ebdc2e-6083-4e55-b1e2-20aed9634269", doNotHash: false, doNotCopy: false, hashAddressBar: false, servicePopup:true});


<!-- bower:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->

<!-- Any other scripts not being injected -->

<!-- inject:js -->
<!-- app scripts will go here... -->
<!-- endinject -->
