
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js")

script.
  window.angular || document.write('<script src="/js/lib/angular.min.js"><\/script>');

<!-- bower:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->
<!-- inject:js -->
<!-- app scripts will go here... -->
<!-- endinject -->
//- script(src="/js/main.js")