-var config = config || { name: "David Benson", title: "Executive Vice President Chief Financial Officer, Fannie Mae"}
figure.bio-teaser
  img(src="../media/bio-teaser-1.png")
  figcaption.padding-30
    a.bio-name(href="")= config.name
    p.bio-title!= config.title
    a.icon-link(href=""): span.icon.fm-arrow-right-circle