figure.bio-teaser, .rich-text-block figure.bio-teaser{
  display: block;
  background: #f2f2f2;
  position: relative;
  width: 100%;
  margin: 20px 0;
  height: 150px;
  @media(min-width: $screen-md){
    height: 200px;
  }
  img{
    width: auto !important;
    height: 100%;
    float: left;
    @media(min-width: $screen-sm){
      max-width: 30%;
    }
    @media(min-width: $screen-md){
      max-width: 50%;
    }
  }
  figcaption{
    height: calc(100% - 20px);
    font-size: 18px;
    display: inline-block;
    position: absolute;
    margin: 10px;
    font-size: 20px;
    overflow: hidden;
    background: transparent;
    @media(min-width: $screen-sm){
      height: 100%;
      float: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      margin: 0;
      position: relative;
      max-width: 70%;
    }
    @media(min-width: $screen-lg){
      max-width: 50%;
      font-size: 26px;
    }
  }
  .bio-name{
    margin: 10px 0;
  }
  p.bio-title{
    font-size: 16px;
    @media(min-width: $screen-md){
      font-size: 20px;
    }
  }
  .icon-link{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
    background: $color-dark-blue;
    &:hover{
      color: white;
    }
    @media(min-width: $screen-md){
      font-size: 30px;
    }
  }
}