figure.bio-teaser{
  display: block;
  background: #f2f2f2;
  position: relative;
  width: 100%;
  margin: 20px 0;
  height: 130px;
  img{
    float: left;
    width: auto !important;
  }
  a{
    display: block;
  }
  figcaption{
    height: calc(100% - 20px);
    font-size: 18px;
    display: inline-block;
    position: absolute;
    margin: 10px;
    font-size: 14px;
    overflow: hidden;
    background-color: transparent !important;
    padding: 0 !important;
  }
  .bio-name{
    margin: 0 0 5px;
    font-size: 22px;
    @media (max-width: $screen-xs-max){
      font-size: 18px;
    }
  }
  p.bio-title{
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 5px;
    @media(max-width: $screen-xs-max){
      margin-right: 30px;
    }
  }
  .icon-link{
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    background: $color-dark-blue;
    &:hover{
      color: white;
    }
  }
  
  //Styling for rail only
  .rail-list &{
    @media (max-width: $screen-md-max){
      height: auto;
    }
    img{
      @media (max-width: $screen-md-max){
        display: none;
      }
    }
    figcaption{
      @media (max-width: $screen-md-max){
        position: relative;
        height: auto;
      }
    }
  }

  //Only apply media queries for article content (not rail)
  .rich-text-block &{
    height: 160px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    @media(min-width: $screen-sm){
      margin-bottom: 20px;
      padding-bottom: 0;
    }
    @media(min-width: $screen-md){
      height: 200px;
    }
    img{
      @media(min-width: $screen-sm){
        max-width: 30%;
      }
      @media(min-width: $screen-md){
        max-width: 50%;
        height: 100%;
      }
    }
    figcaption{
      @media(min-width: $screen-sm){
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px !important;
        margin: 0;
        position: relative;
        max-width: 70%;
        font-size: 20px;
      }
      @media(min-width: $screen-lg){
        max-width: 50%;
        font-size: 26px;
      }
    }
    .bio-name{
      @media(min-width: $screen-md){
        font-size: 26px;
        margin: 0 0 10px;
      }
    }
    p.bio-title{
      @media(min-width: $screen-md){
        font-size: 20px;
      }
    }
    .icon-link{
      @media(min-width: $screen-md){
        font-size: 30px;
      }
    }
  }
}