nav.rail-navigation
  .white-bg.padding-30
    h1.fm-subtitle Governance
    fm-accordion.rail-navigation-list
      fm-accordion-item.fm-accordion-list-item( ng-class="{ 'open' : isOpen() }")
        a.fm-accordion-link(href="/") Guidelines
        .fm-link-toggle.icon( ng-click="toggleItem()" ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' " aria-hidden="true")
        ul.submenu.fm-accordion-content
          li: a.fm-accordion-link(href="/") Guideline 1
          li: a.fm-accordion-link(href="/") Guideline 2
          li: a.fm-accordion-link(href="/") Guideline 3
      fm-accordion-item
        a.fm-accordion-link(href="/") Fannie Mae Charter
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link.active(href="/") Board of Directors
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.active.fm-accordion-link(href="/") Board Commitees
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link(href="/") Committee Charters
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link(href="/") Code of Conduct
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link(href="/") Bylaws
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link(href="/") Contact Board of Directors Housing
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")
      fm-accordion-item
        a.fm-accordion-link(href="/") Reports
          .fm-link-toggle.icon.fm-arrow-right(aria-hidden="true")

