nav.rail-navigation.white-bg.padding-30
  h1.fm-subtitle Governance
  fm-accordion.rail-navigation-list
    fm-accordion-item.fm-accordion-list-item( ng-class="{ 'open' : isOpen() }")
      a.fm-accordion-link(href="" ng-click="toggleItem()") Guidelines
        span.icon.fm-plus(ng-class=" isOpen() ? 'fm-minus' : 'fm-plus' ")
      ul.submenu.fm-accordion-content
        li: a.fm-accordion-link(href="/") Child Link 1
          span.icon.fm-arrow-right
        li: a.fm-accordion-link(href="/") Child Link 2
          span.icon.fm-arrow-right
        li: a.fm-accordion-link(href="/") Child Link 3
          span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Fannie Mae Charter
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Board of Directors
        span.icon.fm-arrow-right
    fm-accordion-item
      a.active.fm-accordion-link(href="/") Board Commitees
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Committee Charters
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Code of Conduct
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Bylaws
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Contact Board of Directors Housing
        span.icon.fm-arrow-right
    fm-accordion-item
      a.fm-accordion-link(href="/") Reports
        span.icon.fm-arrow-right
  form.rail-navigation-select(action="/" method="post")
    h1.fm-subtitle More In About Us
    select.fm-dropdown(name="foo")
      option(value="foo") Other Link
      option(value="foo") Other Link
      option(value="foo") Other Link
