nav.rail-navigation.dark-bg.padding-30(fm-accordion)
  fm-accordion-item( ng-class="{ 'rail-nav-open' : isOpen() }" )
    .rail-nav-header(ng-click="toggleItem()")
      h1.fm-subtitle Governance
      span.fm-list-icon.icon.fm-menu-toggle.mobile-only( ng-class="{ 'openNav' : isOpen() }" aria-hidden="true")
        span.sr-only Toggle navigation
        span.icon-bar.one
        span.icon-bar.two
        span.icon-bar.three
        span.outline
    ul.link-listing
      li
        a(href="/") Guidelines
      li
        a(href="/") Fannie Mae Charter
      li.open
        a.active Board of Directors
        ul.submenu.fm-accordion-content
          li: a(href="/") Guideline 1
          li: a(href="/") Guideline 2
          li: a(href="/") Guideline 3
      li
        a(href="/") Board Committees
      li
        a(href="/") Committee Charters
      li
        a(href="/") Code of Conduct
      li
        a(href="/") Bylaws
      li
        a(href="/") Contact Board of Directors Housing
      li
        a(href="/") Reports
          

