.rail-navigation{
  .fm-subtitle{
    padding-bottom: 5px;
    color: white;
    margin: 0;
    @media (max-width: $screen-xs-max){
      border-bottom: none;
      padding: 0;
    }
  }
  ul.link-listing{
    li{
      border-color: rgba(255,255,255,.3);
      a{
        color: $color-link-dark;
        font-size: 16px;
        &.active{
          cursor: default;
          color: white;
        }
      }
    }
    li.open{
      > a:not(.active){
        text-decoration: underline;
        color: white;
        &:after{
          color: rgba(255,255,255,.5);
        }
      }
    }
    @media(max-width: $screen-xs-max){
      max-height: 0;
      overflow: hidden;
      @include transition(all .4s ease-in);
      >li:first-child{
        padding-top: 20px;
      }
    }
  }
  .rail-nav-open .link-listing{
    max-height: 500px;
  }
  .submenu{
    li{
      padding: 0 20px;
      border: none;
      &:last-child{
        margin-bottom: 15px;
      }
      a{
        font-size: 14px;
        padding: 5px 0 0;
      }
    }
  }
  .rail-nav-header{
    position: relative;
  }
  .fm-menu-toggle{
    top: -10px;
    right: 0;
    position: absolute;
  }
}
