.rail-navigation{
  .fm-title{
    padding-bottom: 5px;
  }
  .submenu{
    li{
      padding: 0 20px;
      &:last-child{
        margin-bottom: 15px;
      }
      a{
        font-size: 14px;
        padding: 5px 0 0;
      }
    }
  }
  fm-accordion-item{
    &:last-child{
      border: none;
    }
  }
}
