.rich-text-block{
  p{
    margin: 0 0 20px;
    color:  black;
    font-size: 14px;
    line-height: 24px;
    @media (min-width: $screen-md){
      font-size: 18px;
      line-height: 32px;
    }
  }
  h1{

  }
  h2{
    font-size: 26px;
    color: $color-teal;
  }
  ul{
    margin-left: 20px;
    padding-left: 20px;
    li{
      list-style: initial;
      font-size: 14px;
      line-height: 25px;
    }
  }
}