.rich-text-block{
  p{
    margin: 0 0 20px;
    color:  black;
    font-size: 14px;
    line-height: 24px;
  }
  h1{

  }
  h2{
    font-size: 26px;
    margin: 0 0 20px;
  }
  h3{
    font-size: 18px;
    margin: 0 0 20px;
  }
  ul, ol{
    padding-left: 20px;
    @media (min-width: $screen-sm){
      margin-left: 20px;
    }
    li{
      list-style: inherit;
      font-size: 14px;
      line-height: 25px;
    }
  }
  
  figure{
    width: 100%;
    img, video{
      width: 100%;
      vertical-align: middle;
    }
    figcaption{
      background-color: $color-light-blue;
      padding: 30px;
      h3{
        margin: 5px 0;
      }
      p{
        margin: 0;
      }
      p + .small{
        margin-top: 20px;
      }
    }
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 5px 3px;
  }
}


