.content-row
  section.fm-basic-carousel-wrap(fm-carousel)
    .fm-basic-carousel
      h1.banner History 
      .fm-carousel-controls(rn-carousel-indicator custom-indicator)
        span.carousel-nav(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
      ul(rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls)
        li.fm-carousel-item
          p: a(href="/") Fannie Mae was born out of the Great Depression in 1938 to bolster the nation’s housing system. Since then, we’ve played a critical role in the nation’s housing finance system.

        li.fm-carousel-item
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
        li.fm-carousel-item
          p: a(href="/") Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 

    .fm-basic-carousel-images  
      img.fade-in(src="http://placehold.it/650x480/aaa" ng-class="{active: isActiveSlide(0)}")
      img.fade-in(src="http://placehold.it/650x480/ccc" ng-class="{active: isActiveSlide(1)}")
      img.fade-in(src="http://placehold.it/650x480/111" ng-class="{active: isActiveSlide(2)}")
.content-row
  section.fm-basic-carousel-wrap.theme-2(fm-carousel)
    .fm-basic-carousel
      h1.banner.b-teal By The Numbers 
      .fm-carousel-controls(rn-carousel-indicator custom-indicator)
        span.carousel-nav.c-white(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
      ul(rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls)
        li.fm-carousel-item
          p: a(href="/") We Provide Stability, Liquidity and  Affordability

        li.fm-carousel-item
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
        li.fm-carousel-item
          p: a(href="/") Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 

    .fm-basic-carousel-images  
      img.fade-in(src="http://placehold.it/650x480/aaa" ng-class="{active: isActiveSlide(0)}")
      img.fade-in(src="http://placehold.it/650x480/f00" ng-class="{active: isActiveSlide(1)}")
      img.fade-in(src="http://placehold.it/650x480/ccc" ng-class="{active: isActiveSlide(2)}")

.content-row
  section.fm-basic-carousel-wrap.theme-3(fm-carousel)
    .fm-basic-carousel
      h1.banner Innovations 
      .fm-carousel-controls(rn-carousel-indicator custom-indicator)
        span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
      ul(rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls)
        li.fm-carousel-item
          p: a(href="/") We are working to establish and implement industry standards, develop: a(href="/") better tools to price and manage credit risk, and build new infrastructure.

        li.fm-carousel-item
          p: a(href="/") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
        li.fm-carousel-item
          p: a(href="/") Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 
    .fm-basic-carousel-images  
      img.fade-in(src="http://placehold.it/650x480/ff0" ng-class="{active: isActiveSlide(0)}")
      img.fade-in(src="http://placehold.it/650x480/bbb" ng-class="{active: isActiveSlide(1)}")
      img.fade-in(src="http://placehold.it/650x480/00f" ng-class="{active: isActiveSlide(2)}")
    

      