.fm-basic-carousel(fm-carousel)
  div.fm-carousel-controls(rn-carousel-indicator custom-indicator)
    span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
  ul(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
    li.fm-carousel-item
      p item
      p item
      p item
    li.fm-carousel-item
      p item            
    li.fm-carousel-item
      p item