section.fm-basic-carousel-wrap
  .fm-basic-carousel(fm-carousel)
    h1 History 
    .fm-carousel-controls(rn-carousel-indicator custom-indicator)
      span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
    ul(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
      li.fm-carousel-item
        p Fannie Mae was born out of the Great Depression in 1938 to bolster the nation’s housing system. Since then, we’ve played a critical role in the nation’s housing finance system.

      li.fm-carousel-item
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
      li.fm-carousel-item
        p Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 

  .fm-basic-carousel-images  
    img.fade-in(src="http://placehold.it/650x480/")

section.fm-basic-carousel-wrap.theme-2
  .fm-basic-carousel(fm-carousel)
    h1 By The Numbers 
    .fm-carousel-controls(rn-carousel-indicator custom-indicator)
      span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
    ul(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
      li.fm-carousel-item
        p We Provide Stability, Liquidity and  Affordability

      li.fm-carousel-item
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
      li.fm-carousel-item
        p Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 

  .fm-basic-carousel-images  
    img.fade-in(src="http://placehold.it/650x480/")

section.fm-basic-carousel-wrap.theme-3
  .fm-basic-carousel-images  
    img.fade-in(src="http://placehold.it/650x480/")    
  
  .fm-basic-carousel(fm-carousel)
    h1 Innovations 
    .fm-carousel-controls(rn-carousel-indicator custom-indicator)
      span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
    ul(rn-carousel rn-carousel-auto-slide="6" rn-carousel-index="carouselIndex")
      li.fm-carousel-item
        p We are working to establish and implement industry standards, develop better tools to price and manage credit risk, and build new infrastructure.

      li.fm-carousel-item
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend, at pretium massa interdum. Aliquam tempus scelerisque felis.            
      li.fm-carousel-item
        p Aliquam tempus scelerisque felis, in dapibus quam commodo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie mi et mi eleifend. 

    