
.fm-basic-carousel-wrap{
  @include clearfix;
  position: relative;
  margin: 0 0 30px 60px;
  @media (max-width: $screen-xs-max){
    margin: 0 0 30px;
  }
}
.fm-basic-carousel{
  @include clearfix;
  position: absolute;
  z-index: 1;
  padding: 30px 0;
  left: 0;
  height: 100%;
  width: 50%;
  @media (max-width: $screen-xs-max){    
    position: relative;
    float: none;
    right: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h1{
    position: absolute;
    left: -15px;
    top: 30px;
    display: inline-block;
    min-width: 160px;
    z-index: 15;
    @media (max-width: $screen-xs-max){
      top: 20px;
    }
  }
  ul{
    height: 100%;
    width: 100%;
    position: relative;
    @media (max-width: $screen-xs-max){
      height: 375px;      
    }   
    li{
      background: #fff;
      width: 100%;
      padding: 20% 60px 50px;
      color:#01172d;
      font-size: 26px;
      line-height: 1.1;
      @media (max-width: 970px){
        font-size: 20px;
      }
      @media (max-width: $screen-xs-max){
        width: 100%;
        padding: 100px 40px 70px
      }
    }
  }
  .fm-carousel-controls{
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: 5;
    margin: 0;
    @media (max-width: $screen-xs-max){
      left: 30px;
    }    
  }
}
.fm-basic-carousel-images {
  float: right;
  z-index: 5;
  img{
    display: none;
    &.active{
      display: block;
    }
  }
  @media (max-width: $screen-md-max){
    max-width: 80%;
  }
  @media (max-width: $screen-xs-max){
    width: 650px;
    max-width: 100%;
    float: none;
    margin: 0 auto;
  }
}
.fm-basic-carousel-wrap.theme-2{
  @media(min-width: $screen-sm){
    margin: 0 60px 30px 0;
  }
  .fm-basic-carousel{
    h1{
      left: auto;
      right: -15px;
    }
    a{
      color: $color-link-copy-dark;
      &:hover{
        color: $color-link-dark-h;
      }
      &:visited{
        opacity: $link-opacity-dark;
      }
    }
    li{
      color:#fff;
      background: #000f2b;
    }
    .fm-carousel-controls{
    }
    .rn-carousel-control{
      color: $color-link-copy-dark;
      border-color: $color-link-copy-dark;
      &:hover{
        color: $color-link-copy-dark-h;
        border-color: $color-link-copy-dark-h;
      }
    }
  }
}

.fm-basic-carousel-wrap.theme-3{
  .fm-basic-carousel{
    right: 0;
    left: auto;
  }
  .fm-basic-carousel-images {
    position: relative;
    z-index: 0;
    float: left;
  }
}