figure
  img(src="../media/content-image-1.png")
  figcaption
    h2 Caption Title
    p Caption text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, vitae!
    i.small Photo credit