$color-dark-blue: rgba(1, 23, 45, 1);
$color-teal: rgba(0, 165, 189, 1); 
$color-green: rgba(34, 179, 113, 1);
$color-gray: rgba(50, 68, 86, 1);
$color-dark-gray: rgba(70, 82, 94, 1);
$color-dark-gray-50: rgba(70, 82, 94, .5);
$color-light-gray-50: rgba(204, 209, 213, .5);
$color-light: rgba(228, 228, 228, 1);
$color-body-bg: rgba(230, 230, 230, 1);
$color-body-bg-50: rgba(230, 230, 230, .5);

$font-sans-serif: 'LatoWeb', 'Arial', sans-serif;
$font-serif: 'Glyddon-Regular', 'Georgia', 'Century', serif;

$header-height-lg: 70px;
$header-element-height: 40px;
$header-element-spacing: ($header-height-lg - $header-element-height) / 2;
$header-site-list-width: 385px;

$footer-height-lg: 70px;
$footer-element-height: 40px;
$footer-element-spacing: ($footer-height-lg - $footer-element-height) / 2;
$footer-lead-width: 450px;

$homepage-carousel-left-align-xs: 11%;
$homepage-carousel-left-align: 15%;

$carousel-aspect-ratio: (570 / 1200);
$carousel-height-xs: 480px;
$carousel-height-sm: $carousel-aspect-ratio * $screen-sm;
$carousel-height-md: $carousel-aspect-ratio * $screen-md;
$carousel-height-lg: $carousel-aspect-ratio * $screen-lg;
$carousel-height-xl: $carousel-aspect-ratio * $screen-xl;

$nav-width: 275px;

$screen-lg-1: $screen-lg - 1px;
$screen-sm-1: $screen-sm - 1px;

