$color-dark-blue: rgba(0, 15, 43, 1);
$color-dark-blue-80: rgba(0, 15, 43, .8);
$color-blue: rgba(13, 35, 56, 1);
$color-teal: rgba(0, 118, 151, 1);
$color-green: rgba(34, 179, 113, 1);
$color-light-blue: rgba(229, 241, 244, 1);
$color-gray: rgba(50, 68, 86, 1);
$color-dark-gray: rgba(70, 82, 94, 1);
$color-dark-gray-50: rgba(70, 82, 94, .5);
$color-light-gray-50: rgba(204, 209, 213, .7);
$color-error: rgba(176, 53, 53, 1);

$color-dark: $color-dark-blue;
$color-light: rgba(228, 228, 228, 1);

$color-body-bg: rgba(230, 230, 230, 1);
$color-body-bg-50: rgba(230, 230, 230, .5);
$color-hr: rgba(0, 0, 0, .3);

$color-link-light: #007697;
$link-opacity-light: .75;
$color-link-light-h:  #000F2B;

$color-link-dark:  #00acdc;
$link-opacity-dark: .75;
$color-link-dark-h: white;

$color-link-copy-dark:  white;
$link-opacity-copy-dark: .75;
$color-link-copy-dark-h:  #007697;

$font-sans-serif: 'Urbano-Regular', 'Arial', sans-serif;
$font-serif: 'Glyddon-Regular', 'Georgia', 'Century', serif;

$full-width-max: 1440px;

$header-height-lg: 70px;
$header-element-height: 40px;
$header-element-spacing: ($header-height-lg - $header-element-height) / 2;
$header-site-list-width: 385px;
$header-site-list-height: calc(100vh - #{$header-height-lg});


$footer-height-md: 70px;
$footer-height-sm: 140px;
$footer-height-xs: 160px;
$footer-element-height: 40px;
$footer-element-spacing: ($footer-height-md - $footer-element-height) / 2;
$footer-lead-width-lg: 450px;
$footer-lead-width-sm: 325px;

$homepage-carousel-left-align-xs: 11%;
$homepage-carousel-left-align: 15%;

$carousel-aspect-ratio: (350 / 760);
$carousel-height-xs: 480px;
$carousel-height-sm: $carousel-aspect-ratio * $screen-sm;
$carousel-height-md: $carousel-aspect-ratio * $screen-md;
$carousel-height-lg: $carousel-aspect-ratio * $screen-lg;
$carousel-height-xl: $carousel-aspect-ratio * $screen-xl;
$carousel-text-shadow: 14px;


$feature-aspect-ratio: (570 / 1200);
$feature-height-xs: 480px;
$feature-height-sm: $feature-aspect-ratio * ($screen-sm * .66);
$feature-height-md: $feature-aspect-ratio * ($screen-md * .66);
$feature-height-lg: $feature-aspect-ratio * ($screen-lg * .66);

$nav-width: 275px;

$cta-height: 50px;

$screen-md-max: $screen-lg - 1px;
$screen-sm-max: $screen-md - 1px;
$screen-xs-max: $screen-sm - 1px;

