// base.scss - Usage: global shared styles. Extend for specific components in component css

body{
  background: $color-body-bg;
  @include transform(none !important);
}
main{
  width: 100%;
  overflow: hidden;
}

.article-wrapper{
  background: white;
}

.site-logo{
    position: relative;
    left: 0;
    width: auto;
    @include center-y();
  svg{
    width: 189px;
    height: 37px;
    padding: 0;
    @include svg-color(white);
    @media only screen and (max-width:400px) {
      width: 150px;
      height: auto;
    }
  }
}

[fm-sticky-header] .wrapper {
  display: block;
  background: $color-body-bg;
  z-index: 1;
}
[fm-sticky-header] .wrapper.fixed {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
}
[fm-sticky-header] .wrapper.fixed.absolute {
  position: absolute;
  z-index: 98;
}

/* Rotate when changing between +/- */
.icon[class*="fm-plus"], .icon[class*="fm-minus"]{
  @include transform(rotate(180deg));
  @include transition(transform 0.2s ease-in);
}
.icon[class*="fm-plus"]{
  @include transform(rotate(0deg));
}

.dropdown-toggle {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0;
  width: 36px;
  background-color: transparent;
  border: none;
  height: 55px;
  position: absolute;
  right: 5px; 
  &:hover:before,
  &:hover:after {
    background: #075d7a; 
  }
  &:before,
  &:after {
    background: $color-teal;
    content: '';
    height: 2px !important;
    position: absolute;
    @include transition(all 0.25s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.25s linear);
    width: 18px; 
  }
  &:after {
    @include transform(rotate(90deg)); 
  }
  @media only screen and (max-width:$screen-md-max) {
      right: 12px;
      top: 7px; 
  }

  li.open &:after {
    opacity: 0;
    @include transform(rotate(270deg)); 
  }

  li.open &:before {
    @include transform(rotate(180deg)); 
  }
}

.fm-subtitle{
  font-family: $font-serif;
  color: $color-dark-blue;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 5px 0;
  margin: 0 0 10px;
  border-bottom: 2px solid $color-teal;
}
.fm-list-title{
  position: relative;
  h2{
    font-size: 18px;
    margin: 0 0 5px;
  }
  .view-all{
    position: absolute;
    right: 0;
    top: 4px;
    font-size:12px;
  }
}

.fm-video-wrapper{
  height: auto;
  width: 100%;
  position: relative;
  display: block;

  video, video source{
    z-index: 0 !important;
  }
  .fm-play-circle, .fm-pause-circle{
    position: absolute;
    @include center-xy();
    z-index: 10;
    cursor: pointer;
    font-size: 45px;
    color: white;
    background: $color-dark-blue;
    padding: 5px;
    border-radius: 50%;
    @media (min-width: $screen-sm){
      font-size: 60px;
    }
  }

  .fm-pause-circle{
    @include animation(fadeOut 2s forwards);
    &:hover{
      @media (min-width:$screen-lg){
        @include animation(fade-in .5s forwards);
      }
    }
  }
}

.video{
  max-width: 100%;
  height: auto;
}

.video-link:after{
  content: "\e90b";
  font-size: 75%;
  padding: 5px 10px;
  position: absolute;
}

.icon-after:after{
  //copied from .icon
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* avoid underlines */
  display: inline-block;
  text-decoration: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cta{
  width: 100%;
  height: $cta-height;
  line-height: $cta-height;
  font-size: 16px;
  color: $color-teal;
  display: block;
  text-align: right;
  &:hover{
    color: white;
  }
  .icon{
    font-size: 28px;
    padding: 0 20px;
    position: relative;
    top: ($cta-height - 28px) / 4;
  }
}

.font-serif{
  font-family: $font-serif;
}
.font-sans{
  font-family: $font-sans-serif;
}

.dark-bg{
  background: $color-dark-blue;
  @extend .color-white;
}
.white-bg{
  background: white;
  color: $color-dark-blue;
}

.color-white{
  color: white;
}
.color-white a, a.color-white{
  color: white;
  &:hover{
    color: $color-teal;
  }
}

.color-dark{
  color: $color-dark-blue;
}
.color-dark a, a.color-dark{
  color: $color-dark-blue;
  &:hover{
    color: $color-teal;
  }
}

.color-brand{
  color: $color-teal;
}
.color-brand a, a.color-brand{
  color: $color-teal;
  &:hover{
    color: $color-dark-blue;
  }
}
.padding-10{
  padding: 30px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}
.padding-80{
  padding: 40px 80px;
  @media (max-width: $screen-sm){
    padding: 30px;
  }
}
.styled-select{
  select{
    color:#fff;
    background: #26334b;
    width: 100%;
    margin: 0 0 15px;
    -moz-appearance:none;
  }
  &:after{
    border-top-color:#fff;
    pointer-events: none;
  }
}

.more{
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #007697;
  text-shadow: none;
  background:none;
  border: none;  
  padding: 5px 40px 5px 8px;
  position: relative;
  background: #fff;
  transition: background .2s;
  display: inline-block;
  i{
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 24px;
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 28px; //offset for the border width
    border: 2px solid #007697;
    background: #fff;
    transition: background .2s;
  }
  &:hover{
    color:#01172d;
    text-decoration: none;
    i{
      color:#fff;
      background: #007697;
    }
  }
}
.block{
  margin-bottom: 30px;
}

ul.link-listing{
  li{
    border-top: 1px solid rgba(11,147,192,.25);
    a{
      display: block;
      padding: 10px 10px 10px 0;
      position: relative;
      &:after{
        display: block;
        width: 10px;
        height: 16px;
        line-height: 16px;
        content: "\e903";          
        font-family: 'icomoon';
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
      }
    }
    &.active{
      a{
        color:#01172d;
      }
    }
  }  
}

.fm-menu-toggle{
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  padding: 15px 0 12px 0;
  width: 30px;
  .icon-bar{
    left: calc(50% - 7px);
    width: 14px;
    height: 2px;
    background: $color-teal;
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  .outline{
    left: calc(50% - 15px);
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid $color-teal;
    top: calc(50% - 8px);
  }
  .icon-bar{
    &.one{
    }
    &.two{
      @include transform(translateY(5px));
    }
    &.three{
      @include transform(translateY(10px));
    }
  }
  &.openNav .icon-bar.one{
    @include transform(translateY(5px) rotate(45deg));
  }
  &.openNav .icon-bar.three{
    @include transform(translateY(5px) rotate(-45deg));
  }
}

.fm-list-item{
  display: block;
  border-bottom: 1px solid $color-hr;
}
.fm-list-link{
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  display: block;
}
.fm-list-icon{
  font-size: 18px;
  position: absolute;
  right: 0;
  color: $color-teal;
  cursor: pointer;
  top: calc(50% - 9px);
}