// base.scss - Usage: global shared styles. Extend for specific components in component css

body{
  background: $color-body-bg;
  @include transform(none !important);
}

.article-wrapper{
  background: white;
}

.site-logo{
    position: relative;
    left: 0;
    width: auto;
    @include center-y();
  svg{
    width: 190px;
    height: 57px;
    padding: 0;
    @include svg-color(white);
    @media only screen and (max-width:400px) {
      width: 150px;
      height: auto;
    }
  }
}

[fm-sticky-header] .wrapper {
  display: block;
  background: $color-body-bg;
  z-index: 1;
}
[fm-sticky-header] .wrapper.fixed {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
}
[fm-sticky-header] .wrapper.fixed.absolute {
  position: absolute;
  z-index: 98;
}

/* Rotate when changing between +/- */
.icon[class*="fm-plus"], .icon[class*="fm-minus"]{
  @include transform(rotate(180deg));
  @include transition(transform 0.2s ease-in);
}
.icon[class*="fm-plus"]{
  @include transform(rotate(0deg));
}

.icon.circle{
  border: 2px solid $color-link-light;
  border-radius: 50%;
  line-height: 26px;
  a:hover &{
    border-color: $color-link-light-h;
  }
}

.dropdown-toggle {
  cursor: pointer;
  height: 100%;
  position: relative;
  top: 0;
  width: 36px;
  background-color: transparent;
  border: none;
  height: 55px;
  position: absolute;
  right: 5px; 
  &:hover:before,
  &:hover:after {
    background: #075d7a; 
  }
  &:before,
  &:after {
    background: $color-teal;
    content: '';
    height: 2px !important;
    position: absolute;
    @include transition(all 0.25s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.25s linear);
    width: 18px; 
  }
  &:after {
    @include transform(rotate(90deg)); 
  }
  @media only screen and (max-width:$screen-md-max) {
      right: 12px;
      top: 7px; 
  }

  li.open &:after {
    opacity: 0;
    @include transform(rotate(270deg)); 
  }

  li.open &:before {
    @include transform(rotate(180deg)); 
  }
}

.fm-subtitle{
  font-family: $font-serif;
  color: $color-dark-blue;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 5px 0;
  margin: 0 0 10px;
  border-bottom: 2px solid $color-teal;
}
.fm-list-title{
  position: relative;
  h2{
    font-size: 18px;
    margin: 0 0 5px;
  }
  .view-all{
    position: absolute;
    right: 0;
    top: 4px;
    font-size:12px;
  }
}


.video{
  max-width: 100%;
  height: auto;
}

.video-link:after{
  content: "\e90b";
  font-size: 75%;
  padding: 5px 10px;
  position: absolute;
}

.icon-after:after{
  //copied from .icon
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* avoid underlines */
  display: inline-block;
  text-decoration: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cta{
  width: 100%;
  height: $cta-height;
  line-height: $cta-height;
  font-size: 16px;
  color: $color-link-light;
  display: block;
  text-align: right;
  &:hover{
    color: white;
  }
  .icon{
    font-size: 28px;
    padding: 0 20px;
    position: relative;
    top: ($cta-height - 28px) / 4;
  }
}

.font-serif{
  font-family: $font-serif;
}
.font-sans{
  font-family: $font-sans-serif;
}

.dark-bg{
  background: $color-dark-blue;
  color: white;
  .fm-title{
    a{
      color: $color-link-copy-dark;
      &:hover{
        color: $color-link-copy-dark-h;
      }
      &:visited{
        opacity: $link-opacity-copy-dark;
      }
    }
  }
  a{
    color: $color-link-dark;
    &:hover{
      color: $color-link-dark-h;
    }
    &:visited{
      opacity: $link-opacity-dark;
    }
  }
}
.white-bg{
  background: white;
  color: $color-dark-blue;
}

.color-white{
  color: white;
}
.color-white a, a.color-white{
  color: white;
  &:hover{
    color: $color-link-light;
  }
}

.color-dark{
  color: $color-dark-blue;
}
.color-dark a, a.color-dark{
  color: $color-link-dark;
  &:hover{
    color: $color-link-dark-h;
  }
  &:visited{
   opacity: $link-opacity-dark;
  }
}

.color-brand{
  color: $color-teal;
}
.color-brand a, a.color-brand{
  color: $color-link-light;
  &:hover{
    color: $color-link-light-h;
  }
}


.color-desc{
  text-align: center;
  padding: 10px 0;
}
.color-square{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  color: white;
  span{
    font-size: 18px;
    padding-top: 40%;
    width: 100%;
    text-align: center;
    display: block;
  }
}

.color-dark-blue{
  background: $color-dark-blue;
}
.color-light{
  background: $color-light;
}
.color-body-bg{
  background: $color-body-bg;
}
.color-link-light{
  background: $color-link-light;
}
.color-link-dark{
  background: $color-link-dark;
}
.color-light-blue{
  background: $color-light-blue;
}
.color-hr{
  background: $color-hr;
}
.color-gray{
  background: $color-gray;
}
.color-dark-gray{
  background: $color-dark-gray;
}
.color-error{
  background: $color-error;
}

.padding-10{
  padding: 30px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}
.padding-80{
  padding: 40px 80px;
  @media (max-width: $screen-sm){
    padding: 30px;
  }
}

.bottom-border{
  border-bottom: 1px solid $color-hr;
}

.styled-select{
  select{
    color:#fff;
    background: #26334b;
    width: 100%;
    margin: 0 0 15px;
    -moz-appearance:none;
    &::-ms-expand{
      display:none; //hides arrow for ie10
    }
  }
  &:after{
    border-top-color:#fff;
    pointer-events: none;
  }
  &:before{
    display:block;
    position:absolute;
    content:'';
    right:30px;
    top:3px;
    height:34px;
    width:25px;
    background:#26334b;
    z-index:5;
    pointer-events: none;
  }
}

.more{
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: $color-link-light;
  text-shadow: none;
  background:none;
  border: none;  
  padding: 5px 40px 5px 8px;
  position: relative;
  display: inline-block;
  i{
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 28px;
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px; //offset for the border width
  }
  &:hover{
    color:$color-link-light-h;
  }  
}
.block{
  margin-bottom: 30px;
}

ul.link-listing{
  > li{
    border-top: 1px solid $color-hr;
    list-style-type: none !important;
    > a{
      display: block;
      padding: 10px 25px 10px 0;
      position: relative;
      > .list-icon{
        font-size: 18px;
        position: absolute;
        right: 2px;
        color: $color-teal;
        cursor: pointer;
        top: calc(50% - 9px);
      }
    }
    &.active{
      > a{
        color: $color-dark-blue;
      }
    }
    &:first-child{
      border: none;
    }
  }
  &:not(.custom-icons) > li > a:after{
    display: block;
    width: 10px;
    height: 16px;
    font-size: 18px;
    line-height: 16px;
    content: "\e903";          
    font-family: 'icomoon';
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
  }
}

.fm-menu-toggle{
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  padding: 15px 0 12px 0;
  width: 30px;
  .icon-bar{
    left: calc(50% - 7px);
    width: 14px;
    height: 2px;
    background: $color-link-dark;
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  .outline{
    left: calc(50% - 15px);
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid $color-link-dark;
    top: calc(50% - 8px);
  }
  .icon-bar{
    &.one{
    }
    &.two{
      @include transform(translateY(5px));
    }
    &.three{
      @include transform(translateY(10px));
    }
  }
  &.openNav .icon-bar.one{
    @include transform(translateY(5px) rotate(45deg));
  }
  &.openNav .icon-bar.three{
    @include transform(translateY(5px) rotate(-45deg));
  }
}

.overflow-wrapper{
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}