@media (min-width: $screen-lg) and (max-width: 1400px){
  .container{
      width: 1150px;
  }
}

.content-row{
  float: left;
  margin: 0 -10px;
  width: calc(100% + 20px);
  @media (min-width: $screen-sm){
    padding-top: 30px;
  }
  // gutter
  > *{
    padding: 0 10px;
  }
}

@media (min-width: $screen-sm) {
  .equal-height-sm-row{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    border-spacing: 20px 0;
    border-collapse: separate;
    margin: 0 -10px;
    width: calc(100% + 20px);
  }
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

$overhang-sm: -15px;
$overhang-lg: -50px;

[class*="fm-overhang"]{
  position: absolute;
}
.fm-overhang-left{
  @media(min-width: $screen-sm){
    left: $overhang-sm;
  }
  @media(min-width: $screen-lg){
    left: $overhang-lg;
  }
}
.fm-overhang-right{
  @media(min-width: $screen-sm){
    left: auto;
    right: $overhang-sm;
  }
  @media(min-width: $screen-lg){
    right: $overhang-lg;
  }
}