main{
  min-height: 100%;
  position: relative;
  #page-wrapper{
    width: 100%;
    overflow: hidden;
    padding-bottom: $footer-height-xs + 90px;
    @media (min-width: $screen-sm){
      padding-bottom: $footer-height-sm + 90px;
    }
    @media (min-width: $screen-md){
      padding-bottom: $footer-height-md + 90px;
    }
  }
}

@media (min-width: $screen-lg) and (max-width: 1400px){
  .container{
      width: 1150px;
  }
}
.full-width-max{
  max-width: $full-width-max;
  margin: 0 auto;
}

.fm-main-content{
  @media(max-width: $screen-xs-max){
    display:flex;
    flex-flow: column;

    .fm-content{
      order: 2;
    }
    .fm-top-rail{
      order: 1;
    }
    .fm-bottom-rail{
      order: 4;
    }
    .fm-rail{
      order: 3;
    }
  }
}

// wrap around all full width components to give correct spacing and gutter to elements inside
.content-row{
  float: left;
  clear: both;
  margin: 0 -10px;
  width: calc(100% + 20px);
  @media (min-width: $screen-sm){
    padding-top: 30px;
  }
  // gutter
  > *{
    padding: 0 10px;
  }
}

.fm-top-rail, .fm-bottom-rail{
  @media (max-width: $screen-xs-max){
    margin-bottom: 20px;
  }
}
.fm-bottom-rail > *:first-child{
  @media (min-width: $screen-sm){
    margin-top: 20px;
  }
}
.fm-rail{
  @media (min-width: $screen-sm) and (max-width: $screen-md-max){
    padding-left: 0;
  }
  @media (max-width: $screen-xs-max){
    margin-top: 20px;
  }
}
.rail-row{
  margin: 20px 0;
}

@media (min-width: $screen-sm) {
  .equal-height-sm-row{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    border-spacing: 20px 0;
    border-collapse: separate;
    margin: 0 -10px;
    width: calc(100% + 20px);
  }
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

$overhang-sm: -5px;
$overhang-md: -15px;
$overhang-lg: -50px;

[class*="fm-overhang"]{
  position: absolute;
}
.fm-overhang-left{
  @media(min-width: $screen-sm){
    left: $overhang-sm;
  }
  @media(min-width: $screen-md){
    left: $overhang-md;
  }
  @media(min-width: $screen-lg){
    left: $overhang-lg;
  }
}
.fm-overhang-right{
  @media(min-width: $screen-sm){
    left: auto;
    right: $overhang-sm;
  }
  @media(min-width: $screen-md){
    right: $overhang-md;
  }
  @media(min-width: $screen-lg){
    right: $overhang-lg;
  }
}